In [1]:
import Ipynb_importer
import numpy as np
import pandas as pd
from pandas import DataFrame
import utils,preprocess,merge
import time
import datetime
import os,gc
import math
import copy 


file_path='D:/360WiFi/'
raw_data_path='D:/360WiFi/FDDC_financial_data_20180613/'
split_file_path='D:/360WiFi/files/financial_data_new/'
input_path='D:/360WiFi/files/input/'
mid_path='D:/360WiFi/files/mid_file/'
other_path='D:/360WiFi/files/other_file/'


##------------------合表前，初筛列开关--------------------------------------------------------------
#资产负债表
del_col_Balance_Bank=['AE,AA,LE,LA,SEE,SEA,OTH_EFFECT_SE,OTH_EFFECT_SA,LEE,LEA']
del_col_Balance_GB=['CAE,CAA,NCAE,NCAA,AE,AA,CLE,CLA,NCLE,NCLA,LE,LA,SEE,SEA,OTH_EFFECT_SE,OTH_EFFECT_SA,LEE,LEA']
del_col_Balance_Insurance=['AE,AA,LE,LA,SEE,SEA,OTH_EFFECT_SE,OTH_EFFECT_SA,LEE,LEA']
del_col_Balance_Securities=['AE,AA,LE,LA,SEE,SEA,OTH_EFFECT_SE,OTH_EFFECT_SA,LEE,LEA']

#现金流量表
del_col_cashFlow_Bank=['SPEC_OCIF,AOCIF,SPEC_OCOF,AOCOF,ANOCF,SPEC_ICIF,AICIF,SPEC_ICOF,AICOF,ANICF,SPEC_FCIF,AFCIF,SPEC_FCOF,AFCOF,ANFCF,OTH_EFFECT_CE,ACE,OTH_EFFECT_CEI,ACEI']
del_col_cashFlow_GB=['SPEC_OCIF,AOCIF,SPEC_OCOF,AOCOF,ANOCF,SPEC_ICIF,AICIF,SPEC_ICOF,AICOF,ANICF,SPEC_FCIF,AFCIF,SPEC_FCOF,AFCOF,ANFCF,OTH_EFFECT_CE,ACE,OTH_EFFECT_CEI,ACEI']
del_col_cashFlow_Insurance=['SPEC_OCIF,AOCIF,SPEC_OCOF,AOCOF,ANOCF,SPEC_ICIF,AICIF,SPEC_ICOF,AICOF,ANICF,SPEC_FCIF,AFCIF,SPEC_FCOF,AFCOF,ANFCF,OTH_EFFECT_CE,ACE,OTH_EFFECT_CEI,ACEI']
del_col_cashFlow_Securities=['SPEC_OCIF,AOCIF,SPEC_OCOF,AOCOF,ANOCF,SPEC_ICIF,AICIF,SPEC_ICOF,AICOF,ANICF,SPEC_FCIF,AFCIF,SPEC_FCOF,AFCOF,ANFCF,OTH_EFFECT_CE,ACE,OTH_EFFECT_CEI,ACEI']


#利润表
del_col_Income_Bank=['SPEC_OR,AOR,SPEC_OC,AOC,OTH_EFFECT_OP,AE_EFFECT_OP,OTH_EFFECT_TP,AE_EFFECT_TP,OTH_EFFECT_NP,AE_EFFECT_NP,OTH_EFFECT_NPP,AE_EFFECT_NPP,OTH_EFFECT_CI,AE_EFFECT_CI,OTH_EFFECT_PCI,AE_EFFECT_PCI']
del_col_Income_GB=['SPEC_TOR,ATOR,SPEC_TOC,ATOC,OTH_EFFECT_OP,AE_EFFECT_OP,OTH_EFFECT_TP,AE_EFFECT_TP,OTH_EFFECT_NP,AE_EFFECT_NP,OTH_EFFECT_NPP,AE_EFFECT_NPP,OTH_EFFECT_CI,AE_EFFECT_CI,OTH_EFFECT_PCI,AE_EFFECT_PCI']
del_col_Income_Insurance=['SPEC_OR,AOR,SPEC_OC,AOC,OTH_EFFECT_OP,AE_EFFECT_OP,OTH_EFFECT_TP,AE_EFFECT_TP,OTH_EFFECT_NP,AE_EFFECT_NP,OTH_EFFECT_NPP,AE_EFFECT_NPP,OTH_EFFECT_CI,AE_EFFECT_CI,OTH_EFFECT_PCI,AE_EFFECT_PCI']
del_col_Income_Securities=['SPEC_OR,AOR,SPEC_OC,AOC,OTH_EFFECT_OP,AE_EFFECT_OP,OTH_EFFECT_TP,AE_EFFECT_TP,OTH_EFFECT_NP,AE_EFFECT_NP,OTH_EFFECT_NPP,AE_EFFECT_NPP,OTH_EFFECT_CI,AE_EFFECT_CI,OTH_EFFECT_PCI,AE_EFFECT_PCI']



del_list=[del_col_Balance_Bank,del_col_Balance_GB,del_col_Balance_Insurance,del_col_Balance_Securities,\
         del_col_cashFlow_Bank,del_col_cashFlow_GB,del_col_cashFlow_Insurance,del_col_cashFlow_Securities,\
        del_col_Income_Bank,del_col_Income_GB,del_col_Income_Insurance,del_col_Income_Securities]


##------------------合表后，删列/删行开关-------------------------------------

class_option=None#'classifi_by_14L1'##【'classifi_by_14L1','classifi_by_14L2','classifi_by_14L3'，None】

oht_col=['FISCAL_PERIOD','classifi_by_14L1','classifi_by_14L2','classifi_by_14L3']

##'END_DATE'会在函数中删除，'REVENUE_commom_income'作为特征,暂不删除

del_col=['PARTY_ID','EXCHANGE_CD', 'PUBLISH_DATE','END_DATE_REP',\
          'REPORT_TYPE','MERGED_FLAG', 'category',\
        'industryName_level_1','industryName_level_2','industryName_level_3','isNew','Mid_L2','Mid_L3',\
         'PUBLISH_DATE_y','PUBLISH_DATE_x','END_DATE_REP_x','END_DATE_REP_y','T_REVENUE_income_GB_now',\
        'industrySymbol_level_1','industrySymbol_level_2','industrySymbol_level_3',
         'indexSymbol_level_1','indexSymbol_level_2','indexSymbol_level_3',\
         'industryID_level_1','industryID_level_2','industryID_level_3',\
         'year','month'
        ]

'''
ticker_option的value中：第一项是起始时间，第二项是结束时间，第三项是要删的表，有四种选项['income','balance','cash','all']

'''
drop_ticker=[200053, 200054, 200152, 200160, 200168, 200468, 200512, 200706,200771, 200986, 200992, 900929, 900939, 
             900948, 900951, 900953,900956, 900957,\
             601360,\
             403,422,585,629,655,693,707,720,737,755,803,809,
             816,893,912,922,950,953,972,982,995,2018,2070,2122,2188,
             2194,2207,2260,2263,2306,2427,2473,2552,2570,2604,600074,600091,600145
             ,600149,600150,600193,600198,600202,600209,600228,600234,600238,600247,600265,600275,600289,
             600301,600321,600397,600401,600408,600421,600423,600539,600556,600608,600634,600654,600680,
             600696,600701,600725,600732,600733,600747,600749,600767,600778,600807,600817,600870,
             600871,600877,600896,601558,601798,\
            2923,2925,2926,2927,2928,2929,2930,300504,300624,300634,300644,300664,300733,300736,
             300737,300738,300739,300740,300741,600901,600929,601828,601838,603056,603059,603080,603156,603161,
             603214,603356,603506,603516,603680,603709,603712,603871,603895,\
            1965,2864,2903,2905,2906,2907,2908,2909,2910,2911,2912,2913,2915,2916,
             2917,2918,2919,2920,2921,2922,300684,300705,300707,300708,300709,300710,300711,300712,
             300713,300715,300716,300717,300718,300719,300720,300721,300722,300723,300725,300726,300727,300729,
             300730,300731,300732,300735,600025,600903,600933,601019,601108,603076,603083,603103,603110,603260,
             603278,603283,603289,603329,603365,603396,603466,603477,603499,603507,603605,603607,603619,603655,
             603659,603661,603683,603685,603711,603722,603809,603829,603848,603856,603890,603912,603916,603917,603922,603937,603970,\
            2879,2882,2884,2887,2888,2889,2890,2891,2892,2893,2895,2896,2897,2898,2899,2900,2901,
             2902,300654,300670,300671,300672,300673,300675,300676,300677,300678,300679,300680,300681,300682,300683,300685,300686,
             300687,300688,300689,300690,300691,300692,300693,300695,300696,300697,300698,300699,300700,300701,300702,300703,300706,
             601086,601326,601619,601949,603055,603063,603079,603106,603127,603129,603136,603157,603181,603183,603233,603277,603305,
             603321,603331,603357,603359,603363,603367,603378,603386,603387,603458,603500,603527,603533,603535,603557,603595,603602,
             603612,603617,603648,603676,603707,603721,603725,603730,603757,603776,603813,603825,603860,603880,603882,603933,603963,
             603976,603978,\
             526,616,691,697,892,979,2113,300028,300268,600766,600753
            ]


ticker_option={ "000030":["2009-03-31","2011-12-31","all"],
"000038":["2009-03-31","2009-09-30","all"],
"000048":["2017-12-31","2018-03-31","all"],
"000409":["2009-03-31","2011-03-31","all"],
"000498":["2009-03-31","2011-09-30","all"],
"000555":["2009-03-31","2010-03-31","all"],
"000557":["2009-03-31","2012-09-30","all"],
"000563":["2009-03-31","2009-12-31","all"],
"000567":["2009-03-31","2016-06-30","all"],
"000587":["2009-03-31","2011-06-30","all"],
"000620":["2009-03-31","2010-03-31","all"],
"000638":["2009-03-31","2012-09-30","all"],
"000665":["2009-03-31","2009-09-30","all"],
"000673":["2009-03-31","2015-03-31","all"],
"000681":["2009-03-31","2013-03-31","all"],
"000688":["2009-03-31","2011-09-30","all"],
"000719":["2009-03-31","2010-03-31","all"],
"000796":["2009-03-31","2009-12-31","all"],
"000838":["2009-03-31","2013-09-30","all"],
"000856":["2009-03-31","2010-12-31","all"],
"000939":["2017-12-31","2018-03-31","all"],
"000975":["2009-03-31","2013-06-30","all"],
"002061":["2016-12-31","2018-03-31","all"],
"002072":["2015-03-31","2018-03-31","all"],
"002175":["2017-12-31","2018-03-31","all"],
"002496":["2016-12-31","2018-03-31","all"],
"002499":["2017-06-30","2018-03-31","all"],
"002506":["2010-12-31","2014-09-30","all"],
"002575":["2016-12-31","2018-03-31","all"],
"300189":["2017-12-31","2018-03-31","all"],
"600083":["2009-03-31","2012-03-31","all"],
"600094":["2009-03-31","2009-06-30","all"],
"600180":["2009-03-31","2011-06-30","all"],
"600399":["2017-12-31","2018-03-31","all"],
"600485":["2013-09-30","2018-03-31","all"],
"600540":["2017-12-31","2018-03-31","all"],
"600576":["2009-03-31","2015-06-30","all"],
"600603":["2009-03-31","2012-09-30","all"],
"600610":["2015-12-31","2018-03-31","all"],
"600617":["2009-03-31","2012-09-30","all"],
"600699":["2009-03-31","2010-09-30","all"],
"600705":["2009-03-31","2010-12-31","all"],
"600715":["2009-03-31","2015-06-30","all"],
"600769":["2009-03-31","2013-06-30","all"],
"600791":["2009-03-31","2010-12-31","all"],
"600988":["2009-03-31","2009-03-31","all"]
    }

##--------------one_hot开关------------------------------------
#merge.preprocess(del_list)
merge.generate_data_base()
# merge.merge_3file()
# preprocess.select_table(tabel,class_option,del_col,ticker_option,drop_ticker)
# preprocess.make_label()

importing Jupyter notebook from utils.ipynb
importing Jupyter notebook from preprocess.ipynb
importing Jupyter notebook from merge.ipynb

c:\users\mr.handsome\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:2963: DtypeWarning: Columns (25,182) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

adding 3rd level classify columns
adding 2nd level classify columns
adding 1st level classify columns
56 450103 450500
58 450103 450500
62 450103 450500
301 450103 450500
400 260404 630200
415 250201 620300
416 450101 450300
417 450101 450300
419 450101 450300
501 450101 450300
516 450101 450300
517 320101 730200
533 260404 630400
560 450103 450500
564 450101 450300
585 260404 630400
679 450103 450500
715 450101 450300
738 310304 650200
753 450102 450400
759 450102 450400
768 310304 650200
785 450101 450300
796 450101 450300
806 260404 630400
829 450102 450400
861 450103 450500
862 260405 630300
882 450103 450500
889 450101 450500
967 260404 630400
987 450101 450300
2013 310304 650200
2023 310304 650200
2024 450102 450400
2028 260404 630200
2074 260404 630400
2077 250201 620300
2081 250202 620200
2112 260404 630400
2123 260404 630200
2151 310304 650100
2168 260404 630400
2184 260405 630200
2187 450101 450300
2200 250202 620500
2212 260404 630400
2251 450102 450400
2264 450102 450400
2276 260404 630400
2277 450101 450300
2297 310304 650200
2298 260404 630400
2300 260404 630400
2309 260404 630300
2310 250202 620500
2323 260404 630400
2325 250202 620200
2336 450102 450400
2344 450103 450500
2350 260404 630400
2358 260404 630400
2359 260404 630400
2375 250202 620200
2416 450102 450400
2419 450101 450300
2431 250202 620500
2441 260405 630400
2451 260404 630400
2452 260404 630400
2471 260404 630400
2482 250202 620200
2498 260404 630400
2533 260404 630400
2545 260404 630400
2556 450102 450400
2560 260404 630400
2561 450101 450300
2580 260405 630300
2606 260404 630400
2610 260405 630300
2617 260405 630400
2620 250202 620200
2622 260404 630400
2663 250202 620500
2692 260404 630400
2697 450102 450400
200056 450103 450500
200058 450103 450500
300022 450102 450400
300062 260404 630400
300069 260404 630400
300084 250201 620300
300101 310304 650100
300105 260405 630300
300120 260404 630400
300124 260404 630200
300152 260405 630300
300178 450102 450400
300197 250202 620500
300215 260405 630400
300265 260404 630400
300283 260405 630400
300341 260404 630400
300355 250202 620500
600038 310304 650200
600089 260404 630400
600110 260404 630400
600112 260404 630400
600118 310304 650100
600122 450102 450400
600184 310304 650300
600192 260404 630400
600209 250202 620200
600234 450101 450300
600280 450101 450300
600290 260404 630300
600306 450101 450300
600312 260404 630400
600316 310304 650200
600326 250202 620300
600327 450102 450400
600343 310304 650100
600353 260404 630400
600361 450102 450400
600372 310304 650200
600379 260404 630400
600391 310304 650200
600405 260405 630300
600415 450103 450500
600435 310304 650300
600468 260404 630400
600515 450101 450300
600517 260404 630400
600523 310304 650200
600525 260404 630200
600550 260404 630400
600565 310104 280100
600583 250201 620400
600628 450101 450300
600655 450101 450300
600677 310304 650100
600681 250202 620200
600682 450101 450300
600683 450101 450300
600693 450101 450300
600694 450101 450300
600697 450101 450300
600704 450102 450400
600712 450101 450300
600723 450101 450300
600729 450101 450300
600738 450103 450500
600760 310304 650300
600774 450101 450300
600778 450101 450300
600785 450101 450300
600790 450103 450500
600814 450101 450300
600821 450101 450300
600824 450103 450500
600827 450102 450400
600828 450101 450300
600838 450101 450300
600847 260405 630300
600856 450101 450300
600858 450101 450300
600859 450101 450300
600861 450101 450300
600865 450101 450500
600869 260404 630400
600873 260404 630400
600879 310304 650100
600885 260404 630400
600891 450101 450300
600893 310304 650200
600898 450102 450400
600973 260404 630400
600988 310104 280100
600990 310304 650300
601010 450102 450400
601116 450102 450400
601179 260404 630400
601616 260404 630400
601700 260404 630400
601808 250201 620400
601877 260404 630400
601886 250202 620200
601933 450102 450400
601965 310402 280300
603123 450101 450300
603333 260404 630400
900923 450101 450300
600655 450102 450400
56 450101 450300
560 450101 450300
679 450101 450300
882 450101 450300
600327 450101 450300
600827 450101 450300
600738 450101 450300
601010 450101 450300
2023 310402 650200
889 450103 450500
600865 450103 450500
del some end_date before list_date...

,PARTY_ID,TICKER_SYMBOL,EXCHANGE_CD,PUBLISH_DATE,END_DATE_REP,END_DATE,FISCAL_PERIOD,REPORT_TYPE,MERGED_FLAG,category,...,indexSymbol_level_2,industryName_level_3,industrySymbol_level_3,indexSymbol_level_3,isNew,Mid_L2,Mid_L3,classifi_by_14L1,classifi_by_14L2,classifi_by_14L3
1,2,1,XSHE,2010-04-29,2010-03-31,2009-03-31,3,Q1,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
2,2,1,XSHE,2010-08-25,2010-06-30,2009-06-30,6,S1,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
3,2,1,XSHE,2010-10-28,2010-09-30,2009-09-30,9,Q3,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
4,2,1,XSHE,2011-02-25,2010-12-31,2009-12-31,12,A,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
5,2,1,XSHE,2011-04-27,2011-03-31,2010-03-31,3,Q1,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
6,2,1,XSHE,2011-08-18,2011-06-30,2010-06-30,6,S1,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
7,2,1,XSHE,2011-10-26,2011-09-30,2010-09-30,9,Q3,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
8,2,1,XSHE,2012-03-09,2011-12-31,2010-12-31,12,A,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
9,2,1,XSHE,2012-04-26,2012-03-31,2011-03-31,3,Q1,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
10,2,1,XSHE,2012-08-16,2012-06-30,2011-06-30,6,S1,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
11,2,1,XSHE,2012-10-26,2012-09-30,2011-09-30,9,Q3,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
12,2,1,XSHE,2013-03-08,2012-12-31,2011-12-31,12,A,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
13,2,1,XSHE,2013-04-24,2013-03-31,2012-03-31,3,Q1,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
14,2,1,XSHE,2013-08-23,2013-06-30,2012-06-30,6,S1,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
15,2,1,XSHE,2013-10-23,2013-09-30,2012-09-30,9,Q3,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
16,2,1,XSHE,2014-03-07,2013-12-31,2012-12-31,12,A,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
17,2,1,XSHE,2014-04-24,2014-03-31,2013-03-31,3,Q1,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
18,2,1,XSHE,2014-08-14,2014-06-30,2013-06-30,6,S1,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
19,2,1,XSHE,2014-10-24,2014-09-30,2013-09-30,9,Q3,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
20,2,1,XSHE,2015-03-13,2014-12-31,2013-12-31,12,A,1,Bank,...,801192,银行,440101,851911,0.0,440100,440101,480000,480100,480101
21,2,1,XSHE,2015-04-24,2015-03-31,2014-03-31,3,Q1,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
22,2,1,XSHE,2015-08-14,2015-06-30,2014-06-30,6,S1,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
23,2,1,XSHE,2015-10-23,2015-09-30,2014-09-30,9,Q3,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
24,2,1,XSHE,2016-03-10,2015-12-31,2014-12-31,12,A,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
25,2,1,XSHE,2016-04-21,2016-03-31,2015-03-31,3,Q1,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
26,2,1,XSHE,2016-08-12,2016-06-30,2015-06-30,6,S1,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
27,2,1,XSHE,2016-10-21,2016-09-30,2015-09-30,9,Q3,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
28,2,1,XSHE,2017-03-17,2016-12-31,2015-12-31,12,A,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
29,2,1,XSHE,2017-04-22,2017-03-31,2016-03-31,3,Q1,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
30,2,1,XSHE,2017-08-11,2017-06-30,2016-06-30,6,S1,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103246,1433,900957,XSHG,2012-04-25,2011-12-31,2010-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103247,1433,900957,XSHG,2012-04-28,2012-03-31,2011-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103248,1433,900957,XSHG,2012-08-03,2012-06-30,2011-06-30,6,S1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103249,1433,900957,XSHG,2012-10-24,2012-09-30,2011-09-30,9,Q3,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103250,1433,900957,XSHG,2013-03-19,2012-12-31,2011-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103251,1433,900957,XSHG,2013-04-24,2013-03-31,2012-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103252,1433,900957,XSHG,2013-08-16,2013-06-30,2012-06-30,6,S1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103253,1433,900957,XSHG,2013-10-22,2013-09-30,2012-09-30,9,Q3,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103254,1433,900957,XSHG,2014-03-19,2013-12-31,2012-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103255,1433,900957,XSHG,2014-04-23,2014-03-31,2013-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103256,1433,900957,XSHG,2014-08-15,2014-06-30,2013-06-30,6,S1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103257,1433,900957,XSHG,2014-10-21,2014-09-30,2013-09-30,9,Q3,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103258,1433,900957,XSHG,2015-04-10,2014-12-31,2013-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103259,1433,900957,XSHG,2015-04-25,2015-03-31,2014-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103260,1433,900957,XSHG,2015-08-15,2015-06-30,2014-06-30,6,S1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103261,1433,900957,XSHG,2015-10-29,2015-09-30,2014-09-30,9,Q3,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103262,1433,900957,XSHG,2016-03-30,2015-12-31,2014-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103263,1433,900957,XSHG,2016-04-23,2016-03-31,2015-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103264,1433,900957,XSHG,2016-08-06,2016-06-30,2015-06-30,6,S1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103265,1433,900957,XSHG,2016-10-27,2016-09-30,2015-09-30,9,Q3,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103266,1433,900957,XSHG,2017-03-25,2016-12-31,2015-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103267,1433,900957,XSHG,2017-04-26,2017-03-31,2016-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103268,1433,900957,XSHG,2017-08-10,2017-06-30,2016-06-30,6,S1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103269,1433,900957,XSHG,2017-10-27,2017-09-30,2016-09-30,9,Q3,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103270,1433,900957,XSHG,2018-04-10,2017-12-31,2016-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103271,1433,900957,XSHG,2018-04-26,2018-03-31,2017-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103272,1433,900957,XSHG,2017-08-10,2017-06-30,2017-06-30,6,S1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103273,1433,900957,XSHG,2017-10-27,2017-09-30,2017-09-30,9,Q3,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103274,1433,900957,XSHG,2018-04-10,2017-12-31,2017-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103275,1433,900957,XSHG,2018-04-26,2018-03-31,2018-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101

In [ ]:
##------------------701--------------------------------------------------
table=pd.read_csv(mid_path+'table_6_file.csv')#'REVENUE_commom_income'

##step1:去掉原表中 营收为空的列，不去为0的

#table['REVENUE_commom_income'].replace(0,np.nan,inplace=True)
table.dropna(subset=['REVENUE_commom_income'],how='any',inplace=True)
sorted(table['REVENUE_commom_income'].values)


##step2:建立映射关系，month_pre:3-6,6-9,9-12,12-15，merge到原表中。将merge后month=3的填充零。再去掉Nan值。

table['month_pre']=table['month']+3
table['month_pre'].value_counts()
pre_Revenue=table[['TICKER_SYMBOL','year','month_pre','REVENUE_commom_income']]
pre_Revenue.rename(columns={'REVENUE_commom_income':'REVENUE_pre','month_pre':'month'},inplace=True)
table.drop(['month_pre'],axis=1,inplace=True)

merge_1=pd.merge(table,pre_Revenue,how='left',on=['TICKER_SYMBOL','year','month'])

merge_1.loc[merge_1[merge_1.month==3].index,'REVENUE_pre']=0

##检车NAN值
merge_1[merge_1.REVENUE_pre.isnull()]['month'].value_counts()
#*********************************************
# 6     516
# 12    490
# 9     436
# Name: month, dtype: int64
#************************************************

merge_1.dropna(subset=['REVENUE_pre'],how='any',inplace=True)

merge_1=merge_1[['TICKER_SYMBOL','END_DATE','REVENUE_pre']]
merge_1.rename(columns={'REVENUE_pre':'TOTAL_REVENUE_pre'},inplace=True)
merge_1

final=pd.read_csv(file_path+'final.csv')
final
final=pd.merge(final,merge_1,how='left',on=['TICKER_SYMBOL','END_DATE'])
final

A=preprocess.middle_operation(final,oht_col)
B=preprocess.select_table(A,class_option,del_col,ticker_option,drop_ticker)
B


B[B.era!='201806'].to_csv(file_path+'train_630.csv',index=False)
B[B.era=='201806'].drop(['era','label','weight'],axis=1).to_csv(file_path+'test_630.csv',index=False)

In [ ]:
#final=pd.read_csv(file_path+'final.csv')
# final=final[final.label!=0]
# final

table=pd.read_csv(mid_path+'table_6_file.csv')

final=pd.merge(final,table[['TICKER_SYMBOL','END_DATE','REVENUE_commom_income']],how='left',on=['TICKER_SYMBOL','END_DATE'])
final.loc[final[final.month==12].index,'REVENUE_commom_income']=0
final

In [ ]:
# A=preprocess.middle_operation(final,oht_col)
# B=preprocess.select_table(A,class_option,del_col,ticker_option,drop_ticker)
# B


B[B.era!='201806'].to_csv(file_path+'train_701.csv',index=False)
B[B.era=='201806'].drop(['era','label','weight'],axis=1)#.to_csv(file_path+'test_701.csv',index=False)

In [ ]:
train_old=pd.read_csv(mid_path+'train_626_v2.csv')
train_new=pd.read_csv(file_path+'train_629.csv')
# (train_old.FISCAL_PERIOD_3==train_new.FISCAL_PERIOD_3).unique()
#train_old
# for item in list(train_old.columns):
#     print(item)
#     print((train_old['%s'%item]==train_new['%s'%item]).unique())
    
# t=(train_old.REVENUE_now==train_new.REVENUE_now)
# t[t==False]

# t.value_counts()

# train_old[np.isnan(train_new.REVENUE_now)]

#t=(train_old.drop(['weight'],axis=1).sum(axis=1)==train_new.drop(['TICKER_SYMBOL','weight'],axis=1).sum(axis=1))
#t[t==False]

#train_old.drop(['weight'],axis=1).sum(axis=1)[0]
#train_new.drop(['TICKER_SYMBOL','weight'],axis=1).sum(axis=1)[0]

In [ ]:
# train_old.loc[0,:]
# train_new.loc[0,:]
# train_old_1=train_old.drop(['era','weight'],axis=1)
# train_new_1=train_new.drop(['era','weight','TICKER_SYMBOL'],axis=1)
# t=[]
# for col in train_new_1.columns:
#     if train_old_1.loc[0,:][col]!=train_new_1.loc[0,:][col]:
#         t.extend([train_old_1.loc[0,:][col],train_new_1.loc[0,:][col]])
train_old_1.get_dtype_counts()

In [ ]:
path = file_path+'importance/'

out_path = 'output/'

files = os.listdir(path)

base = pd.read_csv(file_path+'NewReferMeta.csv',encoding='gbk')
i=0
for file in files:
    fea_im = pd.read_csv(path + file, encoding='utf-8')
    fea_im.rename(columns={"importance":"importance_%d"%i},inplace=True)
    base = pd.merge(base, fea_im, how='left', on=['feature'])
    i+=1
#base.to_csv(out_path + 'feature_importance.csv', index=False, encoding="utf_8_sig")

importance_col=["importance_%d"%x for x in range(i)]
base['importance']=base[importance_col].mean(axis=1)
base.sort_values(by=['importance'],ascending=False,inplace=True)
#base[['feature','CN','importance']].to_csv(file_path+out_path+'Importance.csv',index=False,encoding='gbk')
base[['feature','CN','importance']].to_excel(file_path+out_path+'Importance.xlsx',index=False)

In [ ]:
valid=pd.read_csv(mid_path+'data_sets.csv')
len(valid.classifi_by_14L2.unique()) ##114  101
len(valid.classifi_by_14L3.unique()) ##250  227

calss_14=pd.read_csv(file_path+'files/08_11_14_indsutrys/class_2014.csv',encoding='gbk')
calss_14.fillna(0,inplace=True)
calss_14['二级行业代码']=calss_14['二级行业代码'].astype(int)
calss_14['三级行业代码']=calss_14['三级行业代码'].astype(int)

set(valid.classifi_by_14L2.unique())-set(calss_14['二级行业代码'].unique())

'''
220700,
 250200,
 260400,
 310100,
 310300,
 310400,
 320100,
 340100,
 340200,
 450100
'''


set(valid.classifi_by_14L3.unique())-set(calss_14['三级行业代码'].unique())

'''
 110503,
 220701,
 240106,
 250201,
 250202,
 260402,
 260404,
 270201,
 310104,
 310304,
 310402,
 320101,
 340101,
 340102,
 340103,
 340201,
 340202,
 350201,
 360301,
 450101,
 450103,
 470302,
 470303
 
 '''

In [ ]:
def cal_now():
   
    import copy  
    
    T=pd.read_csv(mid_path+'table_6_file_label_new.csv')
    T1=pd.read_csv(mid_path+'table_6_file_label_new.csv')
    cal_col=list(T.columns[T.columns.str.contains('_income')|T.columns.str.contains('_cash')])
    cal_col.remove('N_CE_BEG_BAL_commom_cash')
    print('要处理的列：',len(cal_col))
    print('=======================================')
    print('start calculate the now_values:\n')
    old_name=[]
    new_name=[]
    for item in cal_col:
        '''
        建立映射关系，month_pre:3-6,6-9,9-12,12-15，merge到原表中。将merge后month=3的填充零。再去掉Nan值。
        '''   
        print(item)
        table=copy.deepcopy(T1) 
        
        
        ##第一次：去掉空值
        table.dropna(subset=[item],how='any',inplace=True)
        
        table['month_pre']=table['month']+3
        table['month_pre'].value_counts()
        pre_Revenue=table[['TICKER_SYMBOL','year','month_pre',item]]
        pre_Revenue.rename(columns={item:item+'_pre','month_pre':'month'},inplace=True)
        table.drop(['month_pre'],axis=1,inplace=True)

        table=pd.merge(table,pre_Revenue,how='left',on=['TICKER_SYMBOL','year','month'])

        table.loc[table[table.month==3].index,item+'_pre']=0

        ##第二次：去掉空值
        table.dropna(subset=[item+'_pre'],how='any',inplace=True)
        
        #建立计算当季值，删除原累计值和上期累计值
        table[item+'_now']=table[item]-table[item+'_pre']

        T=pd.merge(T,table[['TICKER_SYMBOL','year','month',item+'_now']],how='left',on=['TICKER_SYMBOL','year','month'])
        old_name.append(item)
        new_name.append(item+'_now')
    
        T.drop([item],axis=1,inplace=True)
        
        del table
        print('%s计算完成,维度是'%(item),T.shape)
    
    DataFrame({'cols_name':old_name,'cols_name_new':new_name}).to_csv(other_path+'dic.csv',index=False)
    print('drop origin 3 outer data...')  
    drop_col=T.columns[187:290]
    T.drop(drop_col,axis=1,inplace=True)
        
    return T

def get_macro():
    
    '''
    读取并处理宏观数据
    
    '''
    qq=pd.read_excel(other_path+'Macro_29.xlsx')
    qq.columns[qq.columns.str.contains('亿元')]
    for item in list(qq.columns[qq.columns.str.contains('亿元')]):
        print(item)
        qq['%s'%item]=qq['%s'%item]*10**8
    qq

    col_name=['macro_%d'%i for i in range(len(qq.columns))]
    col_name

    dict_macro=dict(zip(qq.columns,col_name))
    dict_macro

    qq.rename(columns=dict_macro,inplace=True)
    qq
    return qq

#DataFrame({'1':col_name,'2':qq.columns}).to_csv(file_path+'abcd.csv',index=False,encoding='gbk')



def pre_revenue():
    '''
    计算上一期营收
    '''
    A=pd.read_csv(mid_path+'table_6_file_label.csv')
    A[A.TICKER_SYMBOL==1].END_DATE.values

    tt=['2009-03-31', '2009-06-30', '2009-09-30', '2009-12-31',
           '2010-03-31', '2010-06-30', '2010-09-30', '2010-12-31',
           '2011-03-31', '2011-06-30', '2011-09-30', '2011-12-31',
           '2012-03-31', '2012-06-30', '2012-09-30', '2012-12-31',
           '2013-03-31', '2013-06-30', '2013-09-30', '2013-12-31',
           '2014-03-31', '2014-06-30', '2014-09-30', '2014-12-31',
           '2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31',
           '2016-03-31', '2016-06-30', '2016-09-30', '2016-12-31',
           '2017-03-31', '2017-06-30', '2017-09-30', '2017-12-31',
           '2018-03-31']

    w=[]
    ww=[]
    for i in range(len(tt)-1):
        w.append(tt[i])
        ww.append(tt[i+1])
    W=DataFrame({'END_DATE':w,'END_DATE_PRE':ww})
    W
    AW=pd.merge(A,W,how='left',on=['END_DATE'])
    AW[['TICKER_SYMBOL','END_DATE','END_DATE_PRE','label']]

    AW=AW[['TICKER_SYMBOL','END_DATE_PRE','label']]
    AW.rename(columns={'END_DATE_PRE':'END_DATE'},inplace=True)
    AW


    B=pd.read_csv(mid_path+'table_6_file.csv')
    ABW=pd.merge(B,AW,how='left',on=['TICKER_SYMBOL','END_DATE'])
    ABW

    ABW_child=ABW[ABW['END_DATE']=='2018-03-31']
    #ABW.replace(0,np.nan,inplace=True)
    ABW.dropna(subset=['label'],how='any',inplace=True)
    ABW_PLUS=pd.concat([ABW,ABW_child])
    ABW_PLUS=ABW_PLUS[['TICKER_SYMBOL','END_DATE','label']]
    ABW_PLUS['year']=ABW_PLUS['END_DATE'].apply(lambda x:x[0:4]).astype(int)
    ABW_PLUS['month']=ABW_PLUS['END_DATE'].apply(lambda x:x[5:7]).astype(int)
    ABW_PLUS.drop(['END_DATE'],axis=1,inplace=True)
    
    return ABW_PLUS



#------------------------------------------------------------------
table=pd.read_csv(mid_path+'cal_now_values.csv')
table

##-----计算利润表和流量表中当季值-----------
#table=cal_now()

#----添加上一季度值--------------------
print('===========================================')
print('添加上一季度值')
pre_revenue=pre_revenue()
pre_revenue.drop_duplicates(inplace=True)
pre_revenue.rename(columns={'label':'REVENUE_pre'},inplace=True)
pre_revenue

table=pd.merge(table,pre_revenue,how='left',on=['TICKER_SYMBOL','year','month'])
table.rename(columns={'REVENUE_commom_income_now':'REVENUE_now'},inplace=True)


#-----添加weight列---------------
print('===========================================')
print('添加weight列')
weight=pd.read_csv(other_path+'weight.csv')
weight
table=pd.merge(table,weight,how='left',on=['TICKER_SYMBOL'])
table

#-----------合宏观数据-------------------
print('===========================================')
print('合宏观数据')
macro=get_macro()
macro.macro_0=macro.macro_0.apply(lambda x:datetime.datetime.strftime(x,'%Y-%m-%d'))
macro.rename(columns={'macro_0':'END_DATE'},inplace=True)
macro

table=pd.merge(table,macro,how='left',on=['END_DATE'])


##合财务因子数据------------------------------------
print('===========================================')
print('合财务因子数据')
other=pd.read_csv(mid_path+'TotalDataV8.csv',)
other#87416 rows × 102 columns
other['year']=other.END_DATE.apply(lambda x:x[0:4]).astype(int)
other['month']=other.END_DATE.apply(lambda x:x[5:7]).astype(int)
other.drop(['END_DATE'],axis=1,inplace=True)
other#87416 rows × 103 columns
other


final=pd.merge(table,other,how='left',on=['TICKER_SYMBOL', 'industryID_level_1', 'industryID_level_2',\
           'industryID_level_3', 'industrySymbol_level_1',\
           'industrySymbol_level_2', 'industrySymbol_level_3',\
           'indexSymbol_level_1', 'indexSymbol_level_2', 'indexSymbol_level_3',\
            'year', 'month'])


##添加revenue列
print('===========================================')
print('添加loss计算营收累计值列')
revenue=pd.read_csv(mid_path+'table_6_file.csv')

final=pd.merge(final,revenue[['TICKER_SYMBOL','END_DATE','REVENUE_commom_income']],how='left',on=['TICKER_SYMBOL','END_DATE'])
final.loc[final[final.month==12].index,'REVENUE_commom_income']=0


final=final[final.label!=0]
print('总表初步合成，大小是',final.shape)


A=preprocess.middle_operation(final,oht_col)
B=preprocess.select_table(A,class_option,del_col,ticker_option,drop_ticker)

print('总表处理完毕，大小是',B.shape)
B.to_csv(file_path+'data_701.csv',index=False)


# ##拆分训练集验证集
# print('===========================================')
# print('拆分训练集和验证集')

# train=B[B.era!='201806']
# #train.to_csv(file_path+'train_701_V2.csv',index=False)
# print('train_set:',train.shape)
# test_list=pd.read_csv(file_path+'ticker.csv')
# test_list=test_list['TICKER_SYMBOL'].values
# test_list
# test=B[B.era=='201806'].drop(['era','label','weight'],axis=1)
# test=test[test.TICKER_SYMBOL.isin(test_list)]
# print('test_set:',test.shape)
# #test.to_csv(file_path+'test_701_V2.csv',index=False)

In [ ]:
merge_base=final[['TICKER_SYMBOL','END_DATE', 'industrySymbol_level_1','industrySymbol_level_2','industrySymbol_level_3',
         'indexSymbol_level_1','indexSymbol_level_2','indexSymbol_level_3',\
         'industryID_level_1','industryID_level_2','industryID_level_3']]#get_dtype_counts()

merge_base['industryID_level_1']=merge_base['industryID_level_1'].astype('int64') 
merge_base['industryID_level_2']=merge_base['industryID_level_2'].astype('int64')
merge_base['industryID_level_3']=merge_base['industryID_level_3'].astype('int64')
merge_base.infer_objects().dtypes
merge_base.to_csv(mid_path+'outer_merge_base.csv',index=False)

In [ ]:
# train_new=pd.read_csv(file_path+'train_629.csv')
# B=B[B.era!='201806']
# B
#train_new.drop(['TICKER_SYMBOL'],axis=1,inplace=True)
#B.drop(['weight'],axis=1,inplace=True)

#(train_new.sum(axis=1)==B.sum(axis=1))
train_new.sum(axis=1).sum()

In [ ]:
#train_old.sum(axis=1)==
#B.drop(['TICKER_SYMBOL'],axis=1,inplace=True)
# P=B.sum(axis=1).tolist()
# Q=train_old.sum(axis=1).tolist()

train_new.sum(axis=1).tolist()

In [ ]:
AW[AW.era!='201806'].to_csv(file_path+'train_110000.csv',index=False)
AW[AW.era=='201806'].drop(['era','label','weight'],axis=1).to_csv(file_path+'test_110000.csv',index=False)

In [ ]:
AA=copy.deepcopy(final)
AA=preprocess.select_table(AA,class_option,del_col,ticker_option,drop_ticker)
AA



##-------------------添加date列，进行onehot-------------------


AA=pd.get_dummies(AA,columns=oht_col)

AA.get_dtype_counts()

AA['date']=AA['year'].astype(str)+AA['month'].apply(lambda x:"%02d"%x)


tt=['200903', '200906', '200909', '200912', '201003', '201006',
       '201009', '201012', '201103', '201106', '201109', '201112',
       '201203', '201206', '201209', '201212', '201303', '201306',
       '201309', '201312', '201403', '201406', '201409', '201412',
       '201503', '201506', '201509', '201512', '201603', '201606',
       '201609', '201612', '201703', '201706', '201709', '201712',
       '201803','201806']
w=[]
ww=[]
for i in range(len(tt)-1):
    w.append(tt[i])
    ww.append(tt[i+1])
W=DataFrame({'era':ww,'date':w})
AW=pd.merge(AA,W,how='left',on=['date'])
AW.drop(['date'],axis=1,inplace=True)

header=['era','END_DATE','TICKER_SYMBOL','FISCAL_PERIOD_3', 'FISCAL_PERIOD_6', 'FISCAL_PERIOD_9', 'FISCAL_PERIOD_12']
bottom=['REVENUE_pre','REVENUE_now','label','weight']
AW=AW[header+list(set(AW.columns)-set(header)-set(bottom))+bottom]
AW


AW.drop(['END_DATE','year','month',],axis=1,inplace=True)

# AW.drop(['END_DATE','year','month',],axis=1,inplace=True)

AW
# AW.infer_objects().dtypes

# AW.get_dtype_counts()

In [ ]:
AW.get_dtype_counts()

In [ ]:
AW[AW.era!='201806'].to_csv(file_path+'train_629.csv',index=False)
AW[AW.era=='201806'].drop(['era','label','weight'],axis=1).to_csv(file_path+'test_629.csv',index=False)

In [ ]:
AW.columns[AW.columns.str.contains('macro')]
AW=AW[['era','TICKER_SYMBOL','macro_26', 'macro_23', 'macro_18', 'macro_9', 'macro_3', 'macro_29',
       'macro_17', 'macro_10', 'macro_7', 'macro_16', 'macro_11', 'macro_6',
       'macro_19', 'macro_28', 'macro_4', 'macro_27', 'macro_2', 'macro_20',
       'macro_24', 'macro_13', 'macro_8', 'macro_21', 'macro_22', 'macro_1',
       'macro_12', 'macro_25', 'macro_14', 'macro_15', 'macro_5','label','weight']]
AW

In [ ]:
AW[AW.era!='201806'].to_csv(file_path+'train_macro.csv',index=False)
AW[AW.era=='201806'].drop(['era','label','weight'],axis=1).to_csv(file_path+'test_macro.csv',index=False)

In [ ]:

AA=preprocess.select_table(AA,class_option,del_col,ticker_option,drop_ticker)
AA



# ##-------------------添加date列，进行onehot-------------------


# AA=pd.get_dummies(AA,columns=oht_col)

# AA.get_dtype_counts()

# AA['date']=AA['year'].astype(str)+AA['month'].apply(lambda x:"%02d"%x)


# tt=['200903', '200906', '200909', '200912', '201003', '201006',
#        '201009', '201012', '201103', '201106', '201109', '201112',
#        '201203', '201206', '201209', '201212', '201303', '201306',
#        '201309', '201312', '201403', '201406', '201409', '201412',
#        '201503', '201506', '201509', '201512', '201603', '201606',
#        '201609', '201612', '201703', '201706', '201709', '201712',
#        '201803','201806']
# w=[]
# ww=[]
# for i in range(len(tt)-1):
#     w.append(tt[i])
#     ww.append(tt[i+1])
# W=DataFrame({'era':ww,'date':w})
# AW=pd.merge(AA,W,how='left',on=['date'])
# AW.drop(['date'],axis=1,inplace=True)

# header=['era','END_DATE','TICKER_SYMBOL','FISCAL_PERIOD_3', 'FISCAL_PERIOD_6', 'FISCAL_PERIOD_9', 'FISCAL_PERIOD_12']
# bottom=['REVENUE_pre','REVENUE_now','label','weight']
# AW=AW[header+list(set(AW.columns)-set(header)-set(bottom))+bottom]
# AW


# AW.drop(['END_DATE','TICKER_SYMBOL','year','month',],axis=1,inplace=True)

# # AW.drop(['END_DATE','year','month',],axis=1,inplace=True)

# AW
# # AW.infer_objects().dtypes

# # AW.get_dtype_counts()

In [ ]:
for item in AW['classifi_by_14L1'].unique():
    dd=AW[AW['classifi_by_14L1']==item].drop(['classifi_by_14L1'],axis=1)
    
    test=dd[dd['era']=='201806']
    test['index']=[x for x in range(len(test))]
    test.drop(['era','weight','label'],axis=1).to_csv(mid_path+'28sheets/test_%d.csv'%item,index=False)
    dd[dd['era']!='201806'].to_csv(mid_path+'28sheets/train_%d.csv'%item,index=False)

In [ ]:
AW.get_dtype_counts()

In [ ]:
AW.get_dtype_counts()

In [ ]:
AW[AW['era']=='201806'].drop(['era','weight','label'],axis=1).to_csv(mid_path+'test_626_v3.csv',index=False)
AW[AW['era']!='201806'].to_csv(mid_path+'train_626_v3.csv',index=False)

In [ ]:
table.columns[table.columns.str.contains('REVEN')]

In [ ]:
AW

In [ ]:
# table=pd.read_csv(mid_path+'table_6_file_label_new.csv')

# Index=table[((table['TICKER_SYMBOL']>=200000)&(table['TICKER_SYMBOL']<300000))|((table['TICKER_SYMBOL']>=900000)&(table['TICKER_SYMBOL']<901000))].index
# table.drop(Index,inplace=True)

# #***********************  以2_开头和以900_开头的ticke共计 18个 **********
# [200053, 200054, 200152, 200160, 200168, 200468, 200512, 200706,
#        200771, 200986, 200992, 900929, 900939, 900948, 900951, 900953,
#        900956, 900957]

# #************************************************************************
#table=pd.read_csv(file_path+'index_info_all.csv',encoding='gbk')
#table[table['ticker']==801890]


#A=pd.read_csv(mid_path+'table_6_file_label_new.csv')
#A[np.isnan(A['indexSymbol_level_3'])]
#sorted(A['industryID_level_1'].unique())

#A[A['indexSymbol_level_3']==851911]

#A[A['industrySymbol_level_3']==630302]


w=A[['TICKER_SYMBOL','END_DATE','indexSymbol_level_1','indexSymbol_level_2','indexSymbol_level_3','industryID_level_1','industryID_level_2','industryID_level_3']]
ww=w[(w['indexSymbol_level_3']==0)|(w['indexSymbol_level_2']==0)]
#w[w.TICKER_SYMBOL==563]
#index=pd.read_csv(file_path+'indusrty_envalue_all.csv',encoding='gbk')
ww
#table[table['ticker']==801190]

In [ ]:

##---------------生成宏观数据特征字典---------------------------------

# macro_data=pd.read_excel(mid_path+'Macro_wind.xlsx',sheet_name='季度',header=None)
# macro_data.drop(0,axis=1,inplace=True)
# dic1=DataFrame({'table':macro_data.loc[0,:],'C_col':macro_data.loc[1,:],'E_col':['macro_%d'%x for x in range(len(macro_data.loc[0,:]))]})
# dic1


# macro_data=pd.read_excel(mid_path+'Macro_wind.xlsx',sheet_name='月',header=None)
# macro_data.drop(0,axis=1,inplace=True)

# dic2=DataFrame({'table':macro_data.loc[0,:],'C_col':macro_data.loc[1,:],'E_col':['macro_%d'%(x+219) for x in range(len(macro_data.loc[0,:]))]})
# dic2


# macro_data=pd.read_excel(mid_path+'Macro_wind.xlsx',sheet_name='周',header=None)
# macro_data.drop(0,axis=1,inplace=True)
# dic3=DataFrame({'table':macro_data.loc[0,:],'C_col':macro_data.loc[1,:],'E_col':['macro_%d'%(x+373) for x in range(len(macro_data.loc[0,:]))]})
# dic3


# macro_data=pd.read_excel(mid_path+'Macro_wind.xlsx',sheet_name='日',header=None)
# macro_data.drop(0,axis=1,inplace=True)

# dic4=DataFrame({'table':macro_data.loc[0,:],'C_col':macro_data.loc[1,:],'E_col':['macro_%d'%(x+376) for x in range(len(macro_data.loc[0,:]))]})
# dic4


# macro_data=pd.read_excel(other_path+'[New] Macro&Industry_20180613.xlsx')
# macro_data   

# dic5=DataFrame({'table':['赛方宏观' for i in range(len(macro_data.NAME_CN))],'C_col':macro_data.NAME_CN,'E_col':macro_data.INDIC_ID})
# dic5


# pd.concat([dic1,dic2,dic3,dic4,dic5]).to_csv(other_path+'feature_dic_macro.csv',index=False,encoding='gbk')

In [ ]:
T=pd.read_csv(mid_path+'table_6_file_label_new.csv')
T

In [ ]:
T.groupby(['TICKER_SYMBOL','classifi_by_14L1']).size().reset_index().groupby(['classifi_by_14L1']).sum().reset_index().to_csv(file_path+'check_1.csv',index=False)

#.to_csv(file_path+'check.csv',index=False)

In [ ]:
'''
生成初步跑的大表（官方数据）

'''

table=pd.read_csv(mid_path+'feature_importance_2.csv')
table.get_dtype_counts()
t=table.infer_objects().dtypes
t[t=='int64']

table['era']=table['year'].astype(str)+table['month'].apply(lambda x:"%02d"%x)
table[['era','year','month']]

T=pd.get_dummies(table,columns=['FISCAL_PERIOD'])
T.get_dtype_counts()
header=['era','FISCAL_PERIOD_3', 'FISCAL_PERIOD_6', 'FISCAL_PERIOD_9', 'FISCAL_PERIOD_12']
T=T[header+list((set(T.columns)-set(header)))]
T
T.get_dtype_counts()

dangji=pd.read_csv(mid_path+'table_6_file_label.csv')
dangji.rename(columns={'label':'Revenue_now'},inplace=True)

merge=pd.merge(T,dangji[['TICKER_SYMBOL','year','month','Revenue_now']],how='left',on=['TICKER_SYMBOL','year','month'])
rr=merge[['TICKER_SYMBOL','year','month','Revenue_now','label']]
rr[rr.year!=2018].to_csv(other_path+'check_revenue_prerevenue.csv',index=False)

merge.drop(['year','month','TICKER_SYMBOL','REVENUE_commom_income'],axis=1,inplace=True)
table
merge.get_dtype_counts()
merge[merge.date!='201803'].to_csv(other_path+'feature_importance_2_update.csv',index=False)

In [ ]:
# table=pd.read_csv(mid_path+'table_6_file_label_new.csv')
columns=table.columns
columns[columns.str.contains('PARTY_ID')][0]

In [ ]:
def C_N_dic():


    sheetname=['bs_indu','bs_bank','bs_secu','bs_insu','is_indu','is_bank','is_secu','is_insu','cf_indu','cf_bank','cf_secu','cf_insu']

    E_col=[]
    C_col=[]
    source=[]
    for name in sheetname:
        C_N=pd.read_excel(other_path+'Data Dictionary_5.29.xlsx',sheetname=name)
        t=C_N.drop([0,1,2,3])
        E_col.extend(t.iloc[:,0].values)
        C_col.extend(t.iloc[:,2].values)
        source.extend([name for i in range(len(t.iloc[:,2].values))])

    C_N=DataFrame({'E_col':E_col,'C_col':C_col,'source':source})
    C_N.drop_duplicates(subset=['E_col'],inplace=True)

    ##注意一下COGS

    #选取第几列
    #t.iloc[:,[0,2]]

    C_N.to_csv(file_path+'C_N_dic.csv',encoding='gbk',index=False)
    
    return

In [ ]:
pp=pd.read_excel(other_path+'[New] Macro&Industry_20180613.xlsx',sheetname='指标信息')
pp.INDIC_ID=pp.INDIC_ID.astype(str)
pp=pp[['INDIC_ID','NAME_CN']]
pp.rename(columns={'INDIC_ID':'trains_col'},inplace=True)

# dic1=pd.read_csv(other_path+'C_N_dic.csv',encoding='gbk')
# dic1

# dic2=pd.read_csv(other_path+'C_N_Trans.csv',encoding='gbk')
# dic2


# pd.merge(dic1,dic2,how='left',on=['E_col']).to_csv(other_path+'CN_dic_3_sheet.csv',index=False,encoding='gbk')


# table=pd.read_csv(mid_path+'table_6_file_label_new.csv')
# table2=pd.read_csv(other_path+'CN_dic_3_sheet.csv',encoding='gbk')
# ttt=DataFrame({'trains_col':table.columns})

ww=pd.merge(ttt,table2[['C_col','trains_col']],how='left',on=['trains_col'])

pd.merge(ww,pp,how='left',on=['trains_col']).to_csv(file_path+'C_N_6_sheet.csv',index=False,encoding='gbk')

In [ ]:


# def get_feature_data():
#     '''
#     生成初步跑的大表（按要求筛掉部分宏观信息和company_operation 信息）,feature_importance.csv
    
#     '''

##第一步：筛掉ticker和空列，去掉部分宏观指标和龙头所有信息
# table=pd.read_csv(mid_path+'table_6_file_label_new.csv')

# drop_col=table.columns[379:384].append(table.columns[386:451])
# drop_col
# table.drop(drop_col,axis=1,inplace=True)

# table.drop(['industrySymbol_level_1','industrySymbol_level_2','industrySymbol_level_3',\
#             'indexSymbol_level_1','indexSymbol_level_2','indexSymbol_level_3','classifi_by_14L1',],axis=1,inplace=True)

# table=preprocess.select_table(table,class_option,del_col,ticker_option)


# T=pd.get_dummies(table,columns=['FISCAL_PERIOD'])

# T.get_dtype_counts()


#添加date列，'FISCAL_PERIOD'进行onehot
# merge['date']=merge['year'].astype(str)+merge['month'].apply(lambda x:"%02d"%x)
# merge


# merge.date.unique()

# tt=['200903', '200906', '200909', '200912', '201003', '201006',
#        '201009', '201012', '201103', '201106', '201109', '201112',
#        '201203', '201206', '201209', '201212', '201303', '201306',
#        '201309', '201312', '201403', '201406', '201409', '201412',
#        '201503', '201506', '201509', '201512', '201603', '201606',
#        '201609', '201612', '201703', '201706', '201709', '201712',
#        '201803','201806']


# w=[]
# ww=[]
# for i in range(len(tt)-1):
#     w.append(tt[i])
#     ww.append(tt[i+1])
# W=DataFrame({'era':ww,'date':w})
# W
# AW=pd.merge(merge,W,how='left',on=['date'])
# AW
# AW.drop(['date'],axis=1,inplace=True)

# AW

# header=['era','TICKER_SYMBOL','FISCAL_PERIOD_3', 'FISCAL_PERIOD_6', 'FISCAL_PERIOD_9', 'FISCAL_PERIOD_12']
# bottom=['Pre_revenue','Now_revenue','label','weight']
# AW=AW[header+list(set(AW.columns)-set(header)-set(bottom))+bottom]

##去掉一些列
# AW.get_dtype_counts()
# AW.drop(['year','month','TICKER_SYMBOL','REVENUE_commom_income'],axis=1,inplace=True)
# AW.get_dtype_counts()

# AW.get_dtype_counts()
# QQQ=AW[AW.era!='201806']#.to_csv(other_path+'feature_importance_3.csv',index=False)

# AW[['era','Now_revenue']].to_csv(other_path+'Revenue_ticker.csv',index=False)

# merge.get_dtype_counts()
# merge[merge.date!='201803'].to_csv(other_path+'feature_importance_2_update.csv',index=False)

In [ ]:
##探究主表的列类型


#A.columns[A.columns.str.contains('REVE')]#列中包含某字符的列名
#A.get_dtype_counts() 列的类型计数

#A.infer_objects().dtypes#具体到每列的类型
#t#[t=='object']

In [ ]:
##----------------------处理赛方宏观数据-（旧版）-------------------------------------

# macro_data=pd.read_excel(other_path+'[New] Macro&Industry_20180613.xlsx',sheetname='数据信息')
# macro_data.indic_id.unique()

# macro_data['year']=macro_data['PERIOD_DATE'].dt.year
# macro_data['month']=macro_data['PERIOD_DATE'].dt.month

# season_m=DataFrame({'month':[1,2,3,4,5,6,7,8,9,10,11,12],'fiscal_porid':['Q1','Q1','Q1','S','S','S','Q3','Q3','Q3','A','A','A']})
# season_m


# macro_data=pd.merge(macro_data,season_m,how='left',on=['month'])


# marco_id_list=[1020000004, 1020000008, 1020001544, 1030000014, 1030000016,
#        1030000018, 1030000020, 1040000046, 1040000050, 1040001767,
#        1040002190, 1050000026, 1050000027, 1070000033, 1070000035,
#        1070000039, 1080000235, 1090000363, 1090000365, 1100000874,
#        1100002293, 1100005542, 1100006640, 1170000018, 1170000598,
#        1170000618, 1170000641,1170005933, 1170007422,]

# macro_data=macro_data[macro_data.indic_id.isin(marco_id_list)]
# macro_data_M=macro_data[macro_data.FREQUENCY_CD=='M']
# macro_data_Y=macro_data[macro_data.FREQUENCY_CD=='A']
# macro_data_D=macro_data[macro_data.FREQUENCY_CD=='D']
# macro_data_W=macro_data[macro_data.FREQUENCY_CD=='W']

# macro_data_Y



# merge_base=pd.read_csv(other_path+'macro_timeline.csv')
# merge_base

# ##添加Macro中周期为年的指标

# for item in macro_data_Y.indic_id.unique():
#     merge_base=pd.merge(merge_base,macro_data_Y[macro_data_Y.indic_id==item][['year','DATA_VALUE']],how='left',on=['year'])
#     merge_base.rename(columns={'DATA_VALUE':'%d'%item},inplace=True)
# merge_base






# ##添加Macro中周期为月，日，星期的指标的指标

# def calculate(df,merge_df,choose):
    
#     if choose=='add':
#         T=df.groupby(['indic_id','year','fiscal_porid']).sum().reset_index()
#     if choose=='mean':
#         T=df.groupby(['indic_id','year','fiscal_porid']).mean().reset_index()
#     for item in T.indic_id.unique():
#         merge_df=pd.merge(merge_df,T[T.indic_id==item][['year','DATA_VALUE','fiscal_porid']],how='left',on=['year','fiscal_porid'])
#         merge_df.rename(columns={'DATA_VALUE':'%d'%item},inplace=True)
        
#     return merge_df
    

# merge_base=calculate(macro_data_M,merge_base,'mean')
# merge_base=calculate(macro_data_D,merge_base,'mean')
# merge_base=calculate(macro_data_W,merge_base,'mean')

merge_base

In [ ]:

    ##1.market data 检查value 和申万知否一致
    
#market_data=pd.read_excel(raw_data_path+'[New] Market Data_20180613.xlsx')
#market_data.TICKER_SYMBOL.unique().shape#(3675,)
# test_180330=market_data[market_data['END_DATE_']=='2018-03-30'][['TICKER_SYMBOL','MARKET_VALUE']]
# check_180830=pd.read_csv(file_path+'Uer_market_2018330.csv')
# check_180830=check_180830[['ticker','negMarketValue','marketValue']].rename(columns={'ticker':'TICKER_SYMBOL'})
# pd.merge(test_180330,check_180830,how='left',on=['TICKER_SYMBOL']).to_csv(file_path+'check_market_values.csv',index=False)
#================================================================
    ##2.从三表中读取12表

# balance_sheet_Bank,balance_sheet_Securities, balance_sheet_Insurance,balance_sheet_GB,\
# cashFlow_sheet_Bank,cashFlow_sheet_Securities,cashFlow_sheet_Insurance,cashFlow_sheet_GB,\
# income_sheet_Bank,income_sheet_Securities,income_sheet_Insurance,income_sheet_GB=utils.loadingFile(0)

#================================================================
    ##3.将12个表写到csv中，方便今后读取

# file_name=['balance_sheet_Bank','balance_sheet_Securities', 'balance_sheet_Insurance','balance_sheet_GB',\
# 'cashFlow_sheet_Bank','cashFlow_sheet_Securities','cashFlow_sheet_Insurance','cashFlow_sheet_GB',\
# 'income_sheet_Bank','income_sheet_Securities','income_sheet_Insurance','income_sheet_GB']

# file_df=[balance_sheet_Bank,balance_sheet_Securities, balance_sheet_Insurance,balance_sheet_GB,\
# cashFlow_sheet_Bank,cashFlow_sheet_Securities,cashFlow_sheet_Insurance,cashFlow_sheet_GB,\
# income_sheet_Bank,income_sheet_Securities,income_sheet_Insurance,income_sheet_GB]

# for df,name in zip(file_df,file_name):
#     df.to_csv(file_path+'files/financial_data_new/%s.csv'%name)
#============================================================================
    ## 4.在csv文件中补全00000

# A=pd.read_csv(file_path+'sumbit_5_31.csv',encoding='gbk')
# A.TICKER_SYMBOL=A.TICKER_SYMBOL.apply(lambda x:'\t%06d'%x)
# A.to_csv(file_path+'523.csv',index=False)

# A=pd.read_csv(file_path+'sumbit_5_31.csv',encoding='gbk')
# A.TICKER_SYMBOL=A.TICKER_SYMBOL.apply(lambda x:'%06d'%x)
# #A.to_csv(file_path+'523.csv',index=False)
# for a in A.TICKER_SYMBOL:
#     print(a)

#==============================================================
    ## 5.补全下载数据的ticker
# file_df=pd.read_csv(file_path+'cashflow_daily_all.csv')
# #file_df=pd.read_hdf(file_path+'CAI.h5',key='data')
# ticker_df=pd.read_csv(file_path+'ticker_list_new.csv')
# file_tickers=file_df.ticker.unique()
# ticker_tickers=ticker_df['0'].values
# dfii_list=[x for x in ticker_tickers if x not in file_tickers]
# DataFrame(dfii_list).to_csv(file_path+'DIFF-个股资金日流向.csv',index=False)

In [ ]:

#===================================================================================    
    ##三表ticker检查
'''
compared with 529data:add 5 more tickers
 array([300747], dtype=int64),
 array([601066], dtype=int64),
 array([603650], dtype=int64),
 array([603666], dtype=int64),
 array([603693], dtype=int64)]

'''


# Balance=[balance_sheet_Bank_old,balance_sheet_Securities_old,balance_sheet_Insurance_old,balance_sheet_GB_old]
# del balance_sheet_Bank_old,balance_sheet_Securities_old,balance_sheet_Insurance_old,balance_sheet_GB_old
# Balance

# Balance_df=pd.concat(Balance)
# Balance_df.TICKER_SYMBOL.unique()#3551

# Cash=[cashFlow_sheet_Bank_old,cashFlow_sheet_Securities_old,cashFlow_sheet_Insurance_old,cashFlow_sheet_GB_old]
# del cashFlow_sheet_Bank_old,cashFlow_sheet_Securities_old,cashFlow_sheet_Insurance_old,cashFlow_sheet_GB_old
# Cash

# Cash_df=pd.concat(Cash)
# Cash_df.TICKER_SYMBOL.unique()#3551

# Income=[income_sheet_Bank_old,income_sheet_Securities_old,income_sheet_Insurance_old,income_sheet_GB_old]
# del income_sheet_Bank_old,income_sheet_Securities_old,income_sheet_Insurance_old,income_sheet_GB_old
# Income

# Income_df=pd.concat(Income)
# Income_df.TICKER_SYMBOL.unique()#3551



# print('the shape of Balance_df is',Balance_df.TICKER_SYMBOL.unique().shape)#(3556,)
# print('the shape of Cash_df is',Cash_df.TICKER_SYMBOL.unique().shape)#(3556,)
# print('the shape of Income_df is',Income_df.TICKER_SYMBOL.unique().shape)#()(3556,)


# tiker_list=pd.read_csv(file_path+'ticker_list.csv')
# tiker_list['0'].unique()


# #比较三大表中ticker是否相同
# A1=set(Balance_df.TICKER_SYMBOL.unique())
# A2=set(Cash_df.TICKER_SYMBOL.unique())
# A3=set(Income_df.TICKER_SYMBOL.unique())

# print('A1==A2',A1==A2)
# print('A1==A3',A1==A3)
# print('A2==A3',A2==A3)

#DataFrame(sorted(Balance_df.TICKER_SYMBOL.unique())).to_csv(file_path+'ticker_list_new_613.csv',index=False)

#===============================================================   
    ##检查529和613文件中ticker异同
# ticker_529=pd.read_csv(file_path+'ticker_list_new.csv')
# ticker_613=pd.read_csv(file_path+'ticker_list_new_613.csv')
# [x for x in ticker_613.values if x not in ticker_529.values]