In [1]:
import Ipynb_importer
import numpy as np
import pandas as pd
from pandas import DataFrame
import utils,preprocess,merge_base
import time
import datetime
import os,gc
file_path='D:/360WiFi/'
raw_data_path='D:/360WiFi/FDDC_financial_data_20180613/'
split_file_path='D:/360WiFi/files/financial_data_new/'
input_path='D:/360WiFi/files/input/'
mid_path='D:/360WiFi/files/mid_file/'
other_path='D:/360WiFi/files/other_file/'


#资产负债表
del_col_Balance_Bank=['AE,AA,LE,LA,SEE,SEA,OTH_EFFECT_SE,OTH_EFFECT_SA,LEE,LEA']
del_col_Balance_GB=['CAE,CAA,NCAE,NCAA,AE,AA,CLE,CLA,NCLE,NCLA,LE,LA,SEE,SEA,OTH_EFFECT_SE,OTH_EFFECT_SA,LEE,LEA']
del_col_Balance_Insurance=['AE,AA,LE,LA,SEE,SEA,OTH_EFFECT_SE,OTH_EFFECT_SA,LEE,LEA']
del_col_Balance_Securities=['AE,AA,LE,LA,SEE,SEA,OTH_EFFECT_SE,OTH_EFFECT_SA,LEE,LEA']

#现金流量表
del_col_cashFlow_Bank=['SPEC_OCIF,AOCIF,SPEC_OCOF,AOCOF,ANOCF,SPEC_ICIF,AICIF,SPEC_ICOF,AICOF,ANICF,SPEC_FCIF,AFCIF,SPEC_FCOF,AFCOF,ANFCF,OTH_EFFECT_CE,ACE,OTH_EFFECT_CEI,ACEI']
del_col_cashFlow_GB=['SPEC_OCIF,AOCIF,SPEC_OCOF,AOCOF,ANOCF,SPEC_ICIF,AICIF,SPEC_ICOF,AICOF,ANICF,SPEC_FCIF,AFCIF,SPEC_FCOF,AFCOF,ANFCF,OTH_EFFECT_CE,ACE,OTH_EFFECT_CEI,ACEI']
del_col_cashFlow_Insurance=['SPEC_OCIF,AOCIF,SPEC_OCOF,AOCOF,ANOCF,SPEC_ICIF,AICIF,SPEC_ICOF,AICOF,ANICF,SPEC_FCIF,AFCIF,SPEC_FCOF,AFCOF,ANFCF,OTH_EFFECT_CE,ACE,OTH_EFFECT_CEI,ACEI']
del_col_cashFlow_Securities=['SPEC_OCIF,AOCIF,SPEC_OCOF,AOCOF,ANOCF,SPEC_ICIF,AICIF,SPEC_ICOF,AICOF,ANICF,SPEC_FCIF,AFCIF,SPEC_FCOF,AFCOF,ANFCF,OTH_EFFECT_CE,ACE,OTH_EFFECT_CEI,ACEI']


#利润表
del_col_Income_Bank=['SPEC_OR,AOR,SPEC_OC,AOC,OTH_EFFECT_OP,AE_EFFECT_OP,OTH_EFFECT_TP,AE_EFFECT_TP,OTH_EFFECT_NP,AE_EFFECT_NP,OTH_EFFECT_NPP,AE_EFFECT_NPP,OTH_EFFECT_CI,AE_EFFECT_CI,OTH_EFFECT_PCI,AE_EFFECT_PCI']
del_col_Income_GB=['SPEC_TOR,ATOR,SPEC_TOC,ATOC,OTH_EFFECT_OP,AE_EFFECT_OP,OTH_EFFECT_TP,AE_EFFECT_TP,OTH_EFFECT_NP,AE_EFFECT_NP,OTH_EFFECT_NPP,AE_EFFECT_NPP,OTH_EFFECT_CI,AE_EFFECT_CI,OTH_EFFECT_PCI,AE_EFFECT_PCI']
del_col_Income_Insurance=['SPEC_OR,AOR,SPEC_OC,AOC,OTH_EFFECT_OP,AE_EFFECT_OP,OTH_EFFECT_TP,AE_EFFECT_TP,OTH_EFFECT_NP,AE_EFFECT_NP,OTH_EFFECT_NPP,AE_EFFECT_NPP,OTH_EFFECT_CI,AE_EFFECT_CI,OTH_EFFECT_PCI,AE_EFFECT_PCI']
del_col_Income_Securities=['SPEC_OR,AOR,SPEC_OC,AOC,OTH_EFFECT_OP,AE_EFFECT_OP,OTH_EFFECT_TP,AE_EFFECT_TP,OTH_EFFECT_NP,AE_EFFECT_NP,OTH_EFFECT_NPP,AE_EFFECT_NPP,OTH_EFFECT_CI,AE_EFFECT_CI,OTH_EFFECT_PCI,AE_EFFECT_PCI']



del_list=[del_col_Balance_Bank,del_col_Balance_GB,del_col_Balance_Insurance,del_col_Balance_Securities,\
         del_col_cashFlow_Bank,del_col_cashFlow_GB,del_col_cashFlow_Insurance,del_col_cashFlow_Securities,\
        del_col_Income_Bank,del_col_Income_GB,del_col_Income_Insurance,del_col_Income_Securities]

#preprocess.preprocess(del_list)

importing Jupyter notebook from utils.ipynb
importing Jupyter notebook from preprocess.ipynb
importing Jupyter notebook from merge_base.ipynb

In [2]:
merge_base.generate_data_base()

c:\users\mr.handsome\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:2963: DtypeWarning: Columns (245,288) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

adding 3rd level classify columns
adding 2nd level classify columns
adding 1st level classify columns
del some end_date before list_date...

,PARTY_ID,TICKER_SYMBOL,EXCHANGE_CD,PUBLISH_DATE,END_DATE_REP,END_DATE,FISCAL_PERIOD,REPORT_TYPE,MERGED_FLAG,category,...,indexSymbol_level_2,industryName_level_3,industrySymbol_level_3,indexSymbol_level_3,isNew,Mid_L2,Mid_L3,classifi_by_14L1,classifi_by_14L2,classifi_by_14L3
1,2,1,XSHE,2010-04-29,2010-03-31,2009-03-31,3,Q1,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
2,2,1,XSHE,2010-08-25,2010-06-30,2009-06-30,6,S1,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
3,2,1,XSHE,2010-10-28,2010-09-30,2009-09-30,9,Q3,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
4,2,1,XSHE,2011-02-25,2010-12-31,2009-12-31,12,A,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
5,2,1,XSHE,2011-04-27,2011-03-31,2010-03-31,3,Q1,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
6,2,1,XSHE,2011-08-18,2011-06-30,2010-06-30,6,S1,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
7,2,1,XSHE,2011-10-26,2011-09-30,2010-09-30,9,Q3,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
8,2,1,XSHE,2012-03-09,2011-12-31,2010-12-31,12,A,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
9,2,1,XSHE,2012-04-26,2012-03-31,2011-03-31,3,Q1,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
10,2,1,XSHE,2012-08-16,2012-06-30,2011-06-30,6,S1,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
11,2,1,XSHE,2012-10-26,2012-09-30,2011-09-30,9,Q3,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
12,2,1,XSHE,2013-03-08,2012-12-31,2011-12-31,12,A,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
13,2,1,XSHE,2013-04-24,2013-03-31,2012-03-31,3,Q1,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
14,2,1,XSHE,2013-08-23,2013-06-30,2012-06-30,6,S1,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
15,2,1,XSHE,2013-10-23,2013-09-30,2012-09-30,9,Q3,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
16,2,1,XSHE,2014-03-07,2013-12-31,2012-12-31,12,A,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
17,2,1,XSHE,2014-04-24,2014-03-31,2013-03-31,3,Q1,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
18,2,1,XSHE,2014-08-14,2014-06-30,2013-06-30,6,S1,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
19,2,1,XSHE,2014-10-24,2014-09-30,2013-09-30,9,Q3,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
20,2,1,XSHE,2015-03-13,2014-12-31,2013-12-31,12,A,1,Bank,...,0,银行,440101,0,0.0,440100,440101,480000,480100,480101
21,2,1,XSHE,2015-04-24,2015-03-31,2014-03-31,3,Q1,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
22,2,1,XSHE,2015-08-14,2015-06-30,2014-06-30,6,S1,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
23,2,1,XSHE,2015-10-23,2015-09-30,2014-09-30,9,Q3,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
24,2,1,XSHE,2016-03-10,2015-12-31,2014-12-31,12,A,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
25,2,1,XSHE,2016-04-21,2016-03-31,2015-03-31,3,Q1,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
26,2,1,XSHE,2016-08-12,2016-06-30,2015-06-30,6,S1,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
27,2,1,XSHE,2016-10-21,2016-09-30,2015-09-30,9,Q3,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
28,2,1,XSHE,2017-03-17,2016-12-31,2015-12-31,12,A,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
29,2,1,XSHE,2017-04-22,2017-03-31,2016-03-31,3,Q1,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
30,2,1,XSHE,2017-08-11,2017-06-30,2016-06-30,6,S1,1,Bank,...,801192,银行,480101,851911,1.0,480100,480101,480000,480100,480101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103246,1433,900957,XSHG,2012-04-25,2011-12-31,2010-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103247,1433,900957,XSHG,2012-04-28,2012-03-31,2011-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103248,1433,900957,XSHG,2012-08-03,2012-06-30,2011-06-30,6,S1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103249,1433,900957,XSHG,2012-10-24,2012-09-30,2011-09-30,9,Q3,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103250,1433,900957,XSHG,2013-03-19,2012-12-31,2011-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103251,1433,900957,XSHG,2013-04-24,2013-03-31,2012-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103252,1433,900957,XSHG,2013-08-16,2013-06-30,2012-06-30,6,S1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103253,1433,900957,XSHG,2013-10-22,2013-09-30,2012-09-30,9,Q3,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103254,1433,900957,XSHG,2014-03-19,2013-12-31,2012-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103255,1433,900957,XSHG,2014-04-23,2014-03-31,2013-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103256,1433,900957,XSHG,2014-08-15,2014-06-30,2013-06-30,6,S1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103257,1433,900957,XSHG,2014-10-21,2014-09-30,2013-09-30,9,Q3,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103258,1433,900957,XSHG,2015-04-10,2014-12-31,2013-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103259,1433,900957,XSHG,2015-04-25,2015-03-31,2014-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103260,1433,900957,XSHG,2015-08-15,2015-06-30,2014-06-30,6,S1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103261,1433,900957,XSHG,2015-10-29,2015-09-30,2014-09-30,9,Q3,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103262,1433,900957,XSHG,2016-03-30,2015-12-31,2014-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103263,1433,900957,XSHG,2016-04-23,2016-03-31,2015-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103264,1433,900957,XSHG,2016-08-06,2016-06-30,2015-06-30,6,S1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103265,1433,900957,XSHG,2016-10-27,2016-09-30,2015-09-30,9,Q3,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103266,1433,900957,XSHG,2017-03-25,2016-12-31,2015-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103267,1433,900957,XSHG,2017-04-26,2017-03-31,2016-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103268,1433,900957,XSHG,2017-08-10,2017-06-30,2016-06-30,6,S1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103269,1433,900957,XSHG,2017-10-27,2017-09-30,2016-09-30,9,Q3,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103270,1433,900957,XSHG,2018-04-10,2017-12-31,2016-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103271,1433,900957,XSHG,2018-04-26,2018-03-31,2017-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103272,1433,900957,XSHG,2017-08-10,2017-06-30,2017-06-30,6,S1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103273,1433,900957,XSHG,2017-10-27,2017-09-30,2017-09-30,9,Q3,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103274,1433,900957,XSHG,2018-04-10,2017-12-31,2017-12-31,12,A,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101
103275,1433,900957,XSHG,2018-04-26,2018-03-31,2018-03-31,3,Q1,1,GB,...,801231,综合,510101,852311,1.0,510100,510101,510000,510100,510101

In [3]:

###merge Market Data 数据

table_base=pd.read_csv(mid_path+'table_base.csv')
market_data=pd.read_excel(other_path+'[New] Market Data_20180613.xlsx')
market_data['year']=market_data['END_DATE_'].dt.year
market_data['month']=market_data['END_DATE_'].dt.month
market_data.columns

table_base['year']=table_base['END_DATE'].map(lambda x:'%s'%str(x)[0:4]).astype(int)
table_base['month']=table_base['END_DATE'].map(lambda x:'%s'%str(x)[5:7]).astype(int)
table_base

merge1=pd.merge(table_base,market_data[[ 'TICKER_SYMBOL', 'CLOSE_PRICE', 'TURNOVER_VOL', 'TURNOVER_VALUE', 'MARKET_VALUE',\
                                        'year', 'month']],how='left',on=['TICKER_SYMBOL','year','month'])
merge1

,PARTY_ID,TICKER_SYMBOL,EXCHANGE_CD,PUBLISH_DATE,END_DATE_REP,END_DATE,FISCAL_PERIOD,REPORT_TYPE,MERGED_FLAG,category,...,Mid_L3,classifi_by_14L1,classifi_by_14L2,classifi_by_14L3,year,month,CLOSE_PRICE,TURNOVER_VOL,TURNOVER_VALUE,MARKET_VALUE
0,2,1,XSHE,2010-04-29,2010-03-31,2009-03-31,3,Q1,1,Bank,...,440101,480000,480100,480101,2009,3,5.384,1.151295e+09,1.761660e+10,4.950061e+10
1,2,1,XSHE,2010-08-25,2010-06-30,2009-06-30,6,S1,1,Bank,...,440101,480000,480100,480101,2009,6,7.370,1.072794e+09,2.292903e+10,6.776056e+10
2,2,1,XSHE,2010-10-28,2010-09-30,2009-09-30,9,Q3,1,Bank,...,440101,480000,480100,480101,2009,9,6.758,6.736389e+08,1.379805e+10,6.213973e+10
3,2,1,XSHE,2011-02-25,2010-12-31,2009-12-31,12,A,1,Bank,...,440101,480000,480100,480101,2009,12,8.231,6.144979e+08,1.496793e+10,7.567942e+10
4,2,1,XSHE,2011-04-27,2011-03-31,2010-03-31,3,Q1,1,Bank,...,440101,480000,480100,480101,2010,3,7.836,6.139132e+08,1.428390e+10,7.204606e+10
5,2,1,XSHE,2011-08-18,2011-06-30,2010-06-30,6,S1,1,Bank,...,440101,480000,480100,480101,2010,6,5.914,5.085802e+08,9.012716e+09,6.102259e+10
6,2,1,XSHE,2011-10-26,2011-09-30,2010-09-30,9,Q3,1,Bank,...,440101,480000,480100,480101,2010,9,5.478,7.020216e+08,1.231160e+10,5.652692e+10
7,2,1,XSHE,2012-03-09,2011-12-31,2010-12-31,12,A,1,Bank,...,440101,480000,480100,480101,2010,12,5.333,5.042580e+08,8.237112e+09,5.502837e+10
8,2,1,XSHE,2012-04-26,2012-03-31,2011-03-31,3,Q1,1,Bank,...,440101,480000,480100,480101,2011,3,5.431,7.734329e+08,1.260636e+10,5.603902e+10
9,2,1,XSHE,2012-08-16,2012-06-30,2011-06-30,6,S1,1,Bank,...,440101,480000,480100,480101,2011,6,5.765,4.303021e+08,7.170047e+09,5.948918e+10
10,2,1,XSHE,2012-10-26,2012-09-30,2011-09-30,9,Q3,1,Bank,...,440101,480000,480100,480101,2011,9,5.417,2.857251e+08,4.728018e+09,8.217854e+10
11,2,1,XSHE,2013-03-08,2012-12-31,2011-12-31,12,A,1,Bank,...,440101,480000,480100,480101,2011,12,5.265,3.135599e+08,4.901655e+09,7.987303e+10
12,2,1,XSHE,2013-04-24,2013-03-31,2012-03-31,3,Q1,1,Bank,...,440101,480000,480100,480101,2012,3,5.306,5.171779e+08,8.620369e+09,8.048784e+10
13,2,1,XSHE,2013-08-23,2013-06-30,2012-06-30,6,S1,1,Bank,...,440101,480000,480100,480101,2012,6,5.120,3.974864e+08,5.981067e+09,7.766999e+10
14,2,1,XSHE,2013-10-23,2013-09-30,2012-09-30,9,Q3,1,Bank,...,440101,480000,480100,480101,2012,9,4.435,3.024194e+08,4.099573e+09,6.726959e+10
15,2,1,XSHE,2014-03-07,2013-12-31,2012-12-31,12,A,1,Bank,...,440101,480000,480100,480101,2012,12,5.451,7.001350e+08,1.026422e+10,8.207607e+10
16,2,1,XSHE,2014-04-24,2014-03-31,2013-03-31,3,Q1,1,Bank,...,440101,480000,480100,480101,2013,3,6.846,1.688994e+09,3.776725e+10,1.030818e+11
17,2,1,XSHE,2014-08-14,2014-06-30,2013-06-30,6,S1,1,Bank,...,440101,480000,480100,480101,2013,6,5.476,1.088821e+09,1.468311e+10,8.172769e+10
18,2,1,XSHE,2014-10-24,2014-09-30,2013-09-30,9,Q3,1,Bank,...,440101,480000,480100,480101,2013,9,6.525,1.978668e+09,2.441168e+10,9.738464e+10
19,2,1,XSHE,2015-03-13,2014-12-31,2013-12-31,12,A,1,Bank,...,440101,480000,480100,480101,2013,12,6.728,1.242746e+09,1.582657e+10,1.166291e+11
20,2,1,XSHE,2015-04-24,2015-03-31,2014-03-31,3,Q1,1,Bank,...,480101,480000,480100,480101,2014,3,5.915,1.124124e+09,1.192208e+10,1.025384e+11
21,2,1,XSHE,2015-08-14,2015-06-30,2014-06-30,6,S1,1,Bank,...,480101,480000,480100,480101,2014,6,6.624,8.968507e+08,9.288538e+09,1.132207e+11
22,2,1,XSHE,2015-10-23,2015-09-30,2014-09-30,9,Q3,1,Bank,...,480101,480000,480100,480101,2014,9,6.777,1.296177e+09,1.336208e+10,1.158484e+11
23,2,1,XSHE,2016-03-10,2015-12-31,2014-12-31,12,A,1,Bank,...,480101,480000,480100,480101,2014,12,10.587,6.733853e+09,9.636825e+10,1.809703e+11
24,2,1,XSHE,2016-04-21,2016-03-31,2015-03-31,3,Q1,1,Bank,...,480101,480000,480100,480101,2015,3,10.527,3.759246e+09,5.615474e+10,1.799421e+11
25,2,1,XSHE,2016-08-12,2016-06-30,2015-06-30,6,S1,1,Bank,...,480101,480000,480100,480101,2015,6,11.762,4.877955e+09,7.672532e+10,2.080482e+11
26,2,1,XSHE,2016-10-21,2016-09-30,2015-09-30,9,Q3,1,Bank,...,480101,480000,480100,480101,2015,9,8.485,1.499977e+09,1.664084e+10,1.500980e+11
27,2,1,XSHE,2017-03-17,2016-12-31,2015-12-31,12,A,1,Bank,...,480101,480000,480100,480101,2015,12,9.699,1.615908e+09,1.972903e+10,1.715610e+11
28,2,1,XSHE,2017-04-22,2017-03-31,2016-03-31,3,Q1,1,Bank,...,480101,480000,480100,480101,2016,3,8.607,1.278890e+09,1.328086e+10,1.522443e+11
29,2,1,XSHE,2017-08-11,2017-06-30,2016-06-30,6,S1,1,Bank,...,480101,480000,480100,480101,2016,6,8.573,7.093760e+08,6.685526e+09,1.493826e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92413,1433,900957,XSHG,2012-04-25,2011-12-31,2010-12-31,12,A,1,GB,...,510101,510000,510100,510101,2010,12,0.670,2.208418e+07,1.499726e+07,2.338300e+08
92414,1433,900957,XSHG,2012-04-28,2012-03-31,2011-03-31,3,Q1,1,GB,...,510101,510000,510100,510101,2011,3,0.691,2.946999e+07,2.098878e+07,2.411590e+08
92415,1433,900957,XSHG,2012-08-03,2012-06-30,2011-06-30,6,S1,1,GB,...,510101,510000,510100,510101,2011,6,0.540,1.347067e+07,7.024315e+06,1.884600e+08
92416,1433,900957,XSHG,2012-10-24,2012-09-30,2011-09-30,9,Q3,1,GB,...,510101,510000,510100,510101,2011,9,0.446,6.017748e+06,2.794795e+06,1.556540e+08
92417,1433,900957,XSHG,2013-03-19,2012-12-31,2011-12-31,12,A,1,GB,...,510101,510000,510100,510101,2011,12,0.380,5.654241e+06,2.103851e+06,1.326200e+08
92418,1433,900957,XSHG,2013-04-24,2013-03-31,2012-03-31,3,Q1,1,GB,...,510101,510000,510100,510101,2012,3,0.430,2.400005e+07,1.081798e+07,1.500700e+08
92419,1433,900957,XSHG,2013-08-16,2013-06-30,2012-06-30,6,S1,1,GB,...,510101,510000,510100,510101,2012,6,0.476,1.041454e+07,5.137447e+06,1.661240e+08
92420,1433,900957,XSHG,2013-10-22,2013-09-30,2012-09-30,9,Q3,1,GB,...,510101,510000,510100,510101,2012,9,0.494,2.888356e+07,1.417290e+07,1.724060e+08
92421,1433,900957,XSHG,2014-03-19,2013-12-31,2012-12-31,12,A,1,GB,...,510101,510000,510100,510101,2012,12,0.510,2.860592e+07,1.321627e+07,1.779900e+08
92422,1433,900957,XSHG,2014-04-23,2014-03-31,2013-03-31,3,Q1,1,GB,...,510101,510000,510100,510101,2013,3,0.587,2.503325e+07,1.561144e+07,2.048630e+08
92423,1433,900957,XSHG,2014-08-15,2014-06-30,2013-06-30,6,S1,1,GB,...,510101,510000,510100,510101,2013,6,0.509,1.038759e+07,5.640590e+06,1.776410e+08
92424,1433,900957,XSHG,2014-10-21,2014-09-30,2013-09-30,9,Q3,1,GB,...,510101,510000,510100,510101,2013,9,0.576,2.605705e+07,1.533945e+07,2.010240e+08
92425,1433,900957,XSHG,2015-04-10,2014-12-31,2013-12-31,12,A,1,GB,...,510101,510000,510100,510101,2013,12,0.605,1.189058e+07,7.105057e+06,2.111450e+08
92426,1433,900957,XSHG,2015-04-25,2015-03-31,2014-03-31,3,Q1,1,GB,...,510101,510000,510100,510101,2014,3,0.567,7.996646e+06,4.491291e+06,1.978830e+08
92427,1433,900957,XSHG,2015-08-15,2015-06-30,2014-06-30,6,S1,1,GB,...,510101,510000,510100,510101,2014,6,0.485,3.141203e+06,1.472918e+06,1.692650e+08
92428,1433,900957,XSHG,2015-10-29,2015-09-30,2014-09-30,9,Q3,1,GB,...,510101,510000,510100,510101,2014,9,0.650,2.248759e+07,1.394112e+07,2.268500e+08
92429,1433,900957,XSHG,2016-03-30,2015-12-31,2014-12-31,12,A,1,GB,...,510101,510000,510100,510101,2014,12,0.615,3.291406e+07,2.106754e+07,2.146350e+08
92430,1433,900957,XSHG,2016-04-23,2016-03-31,2015-03-31,3,Q1,1,GB,...,510101,510000,510100,510101,2015,3,0.715,2.715790e+07,1.852378e+07,2.495350e+08
92431,1433,900957,XSHG,2016-08-06,2016-06-30,2015-06-30,6,S1,1,GB,...,510101,510000,510100,510101,2015,6,1.184,9.557551e+07,1.338583e+08,4.132160e+08
92432,1433,900957,XSHG,2016-10-27,2016-09-30,2015-09-30,9,Q3,1,GB,...,510101,510000,510100,510101,2015,9,0.695,3.370155e+07,2.262727e+07,2.425550e+08
92433,1433,900957,XSHG,2017-03-25,2016-12-31,2015-12-31,12,A,1,GB,...,510101,510000,510100,510101,2015,12,1.474,1.637571e+08,2.318061e+08,5.144260e+08
92434,1433,900957,XSHG,2017-04-26,2017-03-31,2016-03-31,3,Q1,1,GB,...,510101,510000,510100,510101,2016,3,1.468,9.963418e+07,1.372806e+08,5.123320e+08
92435,1433,900957,XSHG,2017-08-10,2017-06-30,2016-06-30,6,S1,1,GB,...,510101,510000,510100,510101,2016,6,1.393,2.910931e+07,3.952273e+07,4.861570e+08
92436,1433,900957,XSHG,2017-10-27,2017-09-30,2016-09-30,9,Q3,1,GB,...,510101,510000,510100,510101,2016,9,1.245,8.400043e+06,1.073056e+07,4.345050e+08
92437,1433,900957,XSHG,2018-04-10,2017-12-31,2016-12-31,12,A,1,GB,...,510101,510000,510100,510101,2016,12,1.128,6.988762e+06,7.853302e+06,3.936720e+08
92438,1433,900957,XSHG,2018-04-26,2018-03-31,2017-03-31,3,Q1,1,GB,...,510101,510000,510100,510101,2017,3,0.901,1.412277e+07,1.373709e+07,3.144490e+08
92439,1433,900957,XSHG,2017-08-10,2017-06-30,2017-06-30,6,S1,1,GB,...,510101,510000,510100,510101,2017,6,0.936,6.881474e+06,6.337468e+06,3.266640e+08
92440,1433,900957,XSHG,2017-10-27,2017-09-30,2017-09-30,9,Q3,1,GB,...,510101,510000,510100,510101,2017,9,1.105,3.048003e+07,3.285430e+07,3.856450e+08
92441,1433,900957,XSHG,2018-04-10,2017-12-31,2017-12-31,12,A,1,GB,...,510101,510000,510100,510101,2017,12,0.969,3.940619e+06,3.752793e+06,3.381810e+08
92442,1433,900957,XSHG,2018-04-26,2018-03-31,2018-03-31,3,Q1,1,GB,...,510101,510000,510100,510101,2018,3,0.872,5.645487e+06,4.860986e+06,3.043280e+08

In [4]:
macro_factor=pd.read_excel(other_path+'[New] Macro&Industry_20180613.xlsx',sheetname='指标信息',encoding='gbk')
macro_factor_list=macro_factor.INDIC_ID.astype(str).values

macro_data=pd.read_excel(other_path+'[New] Macro&Industry_20180613.xlsx',sheetname='数据信息',encoding='gbk')
macro_data=macro_data[macro_data.PERIOD_DATE>='2009-01-01']
macro_data.indic_id=macro_data.indic_id.astype(str)

df_list=[]

for factor in macro_factor_list:  
    #print(factor)
    t=macro_data[macro_data.indic_id==factor][['PERIOD_DATE','DATA_VALUE']]
    t.rename(columns={'DATA_VALUE':factor},inplace=True)
    df_list.append(t)
M=df_list[0]
for i in range(1,len(df_list)):
    M=pd.merge(M,df_list[i],how='outer',on=['PERIOD_DATE'])
M.drop_duplicates(inplace=True)
M.to_csv(other_path+'macro_data.csv',index=False)


M['year']=M['PERIOD_DATE'].map(lambda x:'%s'%str(x)[0:4]).astype(int)
M['month']=M['PERIOD_DATE'].map(lambda x:'%s'%str(x)[5:7]).astype(int)
M
M['PERIOD_DATE']=pd.to_datetime(M['PERIOD_DATE'],format='%Y-%m-%d') 
M.sort_values(by=['PERIOD_DATE'],inplace=True)
M.drop_duplicates(subset=['year','month'],inplace=True,keep='last')


merge2=pd.merge(merge1,M[M.columns[1:]],how='left',on=['year','month'])
merge2

c:\users\mr.handsome\appdata\local\programs\python\python36\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

,PARTY_ID,TICKER_SYMBOL,EXCHANGE_CD,PUBLISH_DATE,END_DATE_REP,END_DATE,FISCAL_PERIOD,REPORT_TYPE,MERGED_FLAG,category,...,2160000101,2160000481,2160000489,2160000515,2160000875,2160000883,2160001002,2160001011,2160001523,2160002772
0,2,1,XSHE,2010-04-29,2010-03-31,2009-03-31,3,Q1,1,Bank,...,NaN,191900.0,154600.0,10364.0,11800.0000,26500.0000,NaN,NaN,NaN,1800.0000
1,2,1,XSHE,2010-08-25,2010-06-30,2009-06-30,6,S1,1,Bank,...,NaN,219243.0,180348.0,10564.0,11519.0000,27355.0000,NaN,NaN,NaN,1771.4980
2,2,1,XSHE,2010-10-28,2010-09-30,2009-09-30,9,Q3,1,Bank,...,NaN,237853.0,186931.0,11820.0,12179.0000,28133.0000,NaN,NaN,NaN,1930.6938
3,2,1,XSHE,2011-02-25,2010-12-31,2009-12-31,12,A,1,Bank,...,NaN,218797.0,187017.0,NaN,10893.0000,29368.0000,NaN,NaN,NaN,1874.7575
4,2,1,XSHE,2011-04-27,2011-03-31,2010-03-31,3,Q1,1,Bank,...,NaN,248140.0,191401.0,10266.0,14089.8242,31593.1820,NaN,NaN,NaN,2172.5810
5,2,1,XSHE,2011-08-18,2011-06-30,2010-06-30,6,S1,1,Bank,...,NaN,242347.0,202831.0,11678.0,13364.3778,29994.4454,3612.0,635.0,NaN,2184.9353
6,2,1,XSHE,2011-10-26,2011-09-30,2010-09-30,9,Q3,1,Bank,...,NaN,264464.0,216117.0,13070.0,13818.9700,29918.8042,3746.0,608.0,6.8000,2260.0398
7,2,1,XSHE,2012-03-09,2011-12-31,2010-12-31,12,A,1,Bank,...,1053.93,281593.0,204408.0,11858.0,12189.0000,30850.0000,NaN,NaN,NaN,2103.1058
8,2,1,XSHE,2012-04-26,2012-03-31,2011-03-31,3,Q1,1,Bank,...,NaN,265958.0,220439.0,12115.0,14112.0183,33041.6417,3517.0,545.0,7.2700,2281.5690
9,2,1,XSHE,2012-08-16,2012-06-30,2011-06-30,6,S1,1,Bank,...,NaN,261766.0,235340.0,13813.0,15075.6561,32133.1577,4171.0,565.0,7.5400,2324.7324
10,2,1,XSHE,2012-10-26,2012-09-30,2011-09-30,9,Q3,1,Bank,...,975.61,278877.0,250549.0,14918.0,16138.0000,32428.0000,4392.0,513.0,7.7000,2501.1322
11,2,1,XSHE,2013-03-08,2012-12-31,2011-12-31,12,A,1,Bank,...,NaN,279742.0,257987.0,16974.0,13146.0000,33098.0000,NaN,NaN,NaN,2300.2408
12,2,1,XSHE,2013-04-24,2013-03-31,2012-03-31,3,Q1,1,Bank,...,NaN,286066.0,252207.0,14324.0,14457.0000,34836.0000,4204.0,436.0,7.9000,2502.7613
13,2,1,XSHE,2013-08-23,2013-06-30,2012-06-30,6,S1,1,Bank,...,NaN,287514.0,271012.0,15997.0,16226.0000,31536.0000,4405.0,1038.0,8.0000,2530.3820
14,2,1,XSHE,2013-10-23,2013-09-30,2012-09-30,9,Q3,1,Bank,...,NaN,298971.0,287786.0,17015.0,16914.0000,30686.0000,5355.0,1130.0,8.5000,2744.0137
15,2,1,XSHE,2014-03-07,2013-12-31,2012-12-31,12,A,1,Bank,...,NaN,301000.0,298749.0,NaN,14815.0000,33717.0000,NaN,NaN,NaN,2563.2379
16,2,1,XSHE,2014-04-24,2014-03-31,2013-03-31,3,Q1,1,Bank,...,NaN,302412.0,277030.0,15668.0,16853.5207,33983.7402,5176.0,1160.0,8.7079,2878.3340
17,2,1,XSHE,2014-08-14,2014-06-30,2013-06-30,6,S1,1,Bank,...,NaN,301530.0,303748.0,17514.0,18043.4335,31303.6388,5914.0,1110.0,8.9399,2865.3853
18,2,1,XSHE,2014-10-24,2014-09-30,2013-09-30,9,Q3,1,Bank,...,NaN,315035.0,317918.0,19504.0,19197.0000,33447.0000,6108.0,1464.0,8.9861,3048.5103
19,2,1,XSHE,2015-03-13,2014-12-31,2013-12-31,12,A,1,Bank,...,NaN,329600.0,322800.0,NaN,17374.6557,35132.6070,NaN,NaN,NaN,2793.3976
20,2,1,XSHE,2015-04-24,2015-03-31,2014-03-31,3,Q1,1,Bank,...,NaN,153345.0,278432.0,24480.0,18054.1961,32573.7292,5799.0,1078.0,9.2915,3024.7019
21,2,1,XSHE,2015-08-14,2015-06-30,2014-06-30,6,S1,1,Bank,...,NaN,153972.0,285304.0,21236.0,19456.0981,31092.0581,6503.0,1345.0,9.4462,3060.6701
22,2,1,XSHE,2015-10-23,2015-09-30,2014-09-30,9,Q3,1,Bank,...,NaN,160898.0,310871.0,22845.0,20985.9288,31619.5737,6832.0,1182.0,9.3124,3315.4335
23,2,1,XSHE,2016-03-10,2015-12-31,2014-12-31,12,A,1,Bank,...,NaN,150000.0,307100.0,NaN,22427.0461,31371.1310,6985.0,1739.0,NaN,3192.5967
24,2,1,XSHE,2016-04-21,2016-03-31,2015-03-31,3,Q1,1,Bank,...,NaN,164761.0,272325.0,21255.0,21554.0000,29297.0000,5944.0,1335.0,9.2085,3669.8464
25,2,1,XSHE,2016-08-12,2016-06-30,2015-06-30,6,S1,1,Bank,...,NaN,151864.0,299937.0,23793.0,20613.8882,27452.7165,6457.0,1339.0,9.8747,3404.3634
26,2,1,XSHE,2016-10-21,2016-09-30,2015-09-30,9,Q3,1,Bank,...,NaN,158050.0,328428.0,25289.0,21802.0000,26692.0000,6911.0,1328.0,9.5509,3672.3407
27,2,1,XSHE,2017-03-17,2016-12-31,2015-12-31,12,A,1,Bank,...,NaN,147200.0,320400.0,NaN,18200.0000,28800.0000,4432.0,1300.0,NaN,3500.0000
28,2,1,XSHE,2017-04-22,2017-03-31,2016-03-31,3,Q1,1,Bank,...,NaN,132233.0,256726.0,20179.0,21242.0000,27433.0000,5811.0,1400.0,9.5862,3893.5428
29,2,1,XSHE,2017-08-11,2017-06-30,2016-06-30,6,S1,1,Bank,...,NaN,121200.0,284700.0,22815.0,23200.0000,25700.0000,6936.0,1346.0,9.9876,3800.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92413,1433,900957,XSHG,2012-04-25,2011-12-31,2010-12-31,12,A,1,GB,...,1053.93,281593.0,204408.0,11858.0,12189.0000,30850.0000,NaN,NaN,NaN,2103.1058
92414,1433,900957,XSHG,2012-04-28,2012-03-31,2011-03-31,3,Q1,1,GB,...,NaN,265958.0,220439.0,12115.0,14112.0183,33041.6417,3517.0,545.0,7.2700,2281.5690
92415,1433,900957,XSHG,2012-08-03,2012-06-30,2011-06-30,6,S1,1,GB,...,NaN,261766.0,235340.0,13813.0,15075.6561,32133.1577,4171.0,565.0,7.5400,2324.7324
92416,1433,900957,XSHG,2012-10-24,2012-09-30,2011-09-30,9,Q3,1,GB,...,975.61,278877.0,250549.0,14918.0,16138.0000,32428.0000,4392.0,513.0,7.7000,2501.1322
92417,1433,900957,XSHG,2013-03-19,2012-12-31,2011-12-31,12,A,1,GB,...,NaN,279742.0,257987.0,16974.0,13146.0000,33098.0000,NaN,NaN,NaN,2300.2408
92418,1433,900957,XSHG,2013-04-24,2013-03-31,2012-03-31,3,Q1,1,GB,...,NaN,286066.0,252207.0,14324.0,14457.0000,34836.0000,4204.0,436.0,7.9000,2502.7613
92419,1433,900957,XSHG,2013-08-16,2013-06-30,2012-06-30,6,S1,1,GB,...,NaN,287514.0,271012.0,15997.0,16226.0000,31536.0000,4405.0,1038.0,8.0000,2530.3820
92420,1433,900957,XSHG,2013-10-22,2013-09-30,2012-09-30,9,Q3,1,GB,...,NaN,298971.0,287786.0,17015.0,16914.0000,30686.0000,5355.0,1130.0,8.5000,2744.0137
92421,1433,900957,XSHG,2014-03-19,2013-12-31,2012-12-31,12,A,1,GB,...,NaN,301000.0,298749.0,NaN,14815.0000,33717.0000,NaN,NaN,NaN,2563.2379
92422,1433,900957,XSHG,2014-04-23,2014-03-31,2013-03-31,3,Q1,1,GB,...,NaN,302412.0,277030.0,15668.0,16853.5207,33983.7402,5176.0,1160.0,8.7079,2878.3340
92423,1433,900957,XSHG,2014-08-15,2014-06-30,2013-06-30,6,S1,1,GB,...,NaN,301530.0,303748.0,17514.0,18043.4335,31303.6388,5914.0,1110.0,8.9399,2865.3853
92424,1433,900957,XSHG,2014-10-21,2014-09-30,2013-09-30,9,Q3,1,GB,...,NaN,315035.0,317918.0,19504.0,19197.0000,33447.0000,6108.0,1464.0,8.9861,3048.5103
92425,1433,900957,XSHG,2015-04-10,2014-12-31,2013-12-31,12,A,1,GB,...,NaN,329600.0,322800.0,NaN,17374.6557,35132.6070,NaN,NaN,NaN,2793.3976
92426,1433,900957,XSHG,2015-04-25,2015-03-31,2014-03-31,3,Q1,1,GB,...,NaN,153345.0,278432.0,24480.0,18054.1961,32573.7292,5799.0,1078.0,9.2915,3024.7019
92427,1433,900957,XSHG,2015-08-15,2015-06-30,2014-06-30,6,S1,1,GB,...,NaN,153972.0,285304.0,21236.0,19456.0981,31092.0581,6503.0,1345.0,9.4462,3060.6701
92428,1433,900957,XSHG,2015-10-29,2015-09-30,2014-09-30,9,Q3,1,GB,...,NaN,160898.0,310871.0,22845.0,20985.9288,31619.5737,6832.0,1182.0,9.3124,3315.4335
92429,1433,900957,XSHG,2016-03-30,2015-12-31,2014-12-31,12,A,1,GB,...,NaN,150000.0,307100.0,NaN,22427.0461,31371.1310,6985.0,1739.0,NaN,3192.5967
92430,1433,900957,XSHG,2016-04-23,2016-03-31,2015-03-31,3,Q1,1,GB,...,NaN,164761.0,272325.0,21255.0,21554.0000,29297.0000,5944.0,1335.0,9.2085,3669.8464
92431,1433,900957,XSHG,2016-08-06,2016-06-30,2015-06-30,6,S1,1,GB,...,NaN,151864.0,299937.0,23793.0,20613.8882,27452.7165,6457.0,1339.0,9.8747,3404.3634
92432,1433,900957,XSHG,2016-10-27,2016-09-30,2015-09-30,9,Q3,1,GB,...,NaN,158050.0,328428.0,25289.0,21802.0000,26692.0000,6911.0,1328.0,9.5509,3672.3407
92433,1433,900957,XSHG,2017-03-25,2016-12-31,2015-12-31,12,A,1,GB,...,NaN,147200.0,320400.0,NaN,18200.0000,28800.0000,4432.0,1300.0,NaN,3500.0000
92434,1433,900957,XSHG,2017-04-26,2017-03-31,2016-03-31,3,Q1,1,GB,...,NaN,132233.0,256726.0,20179.0,21242.0000,27433.0000,5811.0,1400.0,9.5862,3893.5428
92435,1433,900957,XSHG,2017-08-10,2017-06-30,2016-06-30,6,S1,1,GB,...,NaN,121200.0,284700.0,22815.0,23200.0000,25700.0000,6936.0,1346.0,9.9876,3800.0000
92436,1433,900957,XSHG,2017-10-27,2017-09-30,2016-09-30,9,Q3,1,GB,...,741.81,131967.0,306704.0,23988.0,23918.2509,28559.7510,6262.0,1203.0,9.8492,4169.2527
92437,1433,900957,XSHG,2018-04-10,2017-12-31,2016-12-31,12,A,1,GB,...,NaN,NaN,NaN,30395.0,20768.0000,31579.0000,7396.0,1007.0,9.9500,4040.6800
92438,1433,900957,XSHG,2018-04-26,2018-03-31,2017-03-31,3,Q1,1,GB,...,778.83,121678.0,285446.0,21706.0,22624.2735,32185.1572,6962.0,31.0,10.4702,4430.5053
92439,1433,900957,XSHG,2017-08-10,2017-06-30,2017-06-30,6,S1,1,GB,...,851.60,116395.0,320028.0,23969.0,24076.7918,29934.0903,8189.0,13.0,10.6976,4373.7769
92440,1433,900957,XSHG,2017-10-27,2017-09-30,2017-09-30,9,Q3,1,GB,...,NaN,119399.0,344853.0,25231.0,24883.9719,31177.8146,8049.0,19.0,10.2020,4654.6275
92441,1433,900957,XSHG,2018-04-10,2017-12-31,2017-12-31,12,A,1,GB,...,NaN,112307.0,332157.0,28908.0,23218.9023,30386.6220,8023.0,15.0,10.2800,4665.5737
92442,1433,900957,XSHG,2018-04-26,2018-03-31,2018-03-31,3,Q1,1,GB,...,NaN,118811.0,306352.0,22140.0,27612.0000,33972.0000,7489.0,13.0,10.4821,5140.2012

In [79]:
company_operation=pd.read_excel(other_path+'[New] Company Operating_2018613.xlsx',sheetname='CN')
company_operation.rename(columns={'交易代码':'TICKER_SYMBOL','报告期':'END_DATE','值':'VALUE','指标':'INDIC_NAME_CN'},inplace=True)
company_operation.drop(company_operation.index[[0]],inplace=True)
company_operation.TICKER_SYMBOL=company_operation.TICKER_SYMBOL.astype(str)
company_operation['year']=company_operation['END_DATE'].dt.year.fillna(0).astype(int)
company_operation['month']=company_operation['END_DATE'].dt.month.fillna(0).astype(int)
company_operation=company_operation[company_operation.year>2008]
company_operation=company_operation[['TICKER_SYMBOL','VALUE','INDIC_NAME_CN','year','month']]

a=company_operation.groupby(['TICKER_SYMBOL','INDIC_NAME_CN']).size().reset_index()
a

ticker_INDIC=zip(a.TICKER_SYMBOL,a.INDIC_NAME_CN)
merge_list=[]

for (a,b) in ticker_INDIC:

    t=company_operation[(company_operation['TICKER_SYMBOL']==a)&(company_operation['INDIC_NAME_CN']==b)]
    t.rename(columns={'VALUE':a+'_'+b},inplace=True)
    merge_list.append(t)

M=merge_list[0]
for i in range(1,len(merge_list)):
    merge_list[i].drop(['INDIC_NAME_CN'],axis=1,inplace=True)
    M=pd.merge(M,merge_list[i],how='outer',on=['TICKER_SYMBOL','year','month'])

M.drop(['INDIC_NAME_CN'],axis=1,inplace=True)
M
M.TICKER_SYMBOL=M.TICKER_SYMBOL.astype(int)

merge3=pd.merge(merge2,M,how='left',on=['TICKER_SYMBOL','year','month'])
merge3

c:\users\mr.handsome\appdata\local\programs\python\python36\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)
c:\users\mr.handsome\appdata\local\programs\python\python36\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
c:\users\mr.handsome\appdata\local\programs\python\python36\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,PARTY_ID,TICKER_SYMBOL,EXCHANGE_CD,PUBLISH_DATE,END_DATE_REP,END_DATE,FISCAL_PERIOD,REPORT_TYPE,MERGED_FLAG,category,...,601088_全国煤炭铁路日均装车:神华集团:实际,601111_中国国航:可用座位公里:当月值,601111_中国国航:收费客公里:国内:当月值,601231_环旭电子:月度营收:当月值,601333_广深铁路:客运发送量,601333_广深铁路:客运发送量:广深城际列车,601333_广深铁路:客运发送量:直通车,601333_广深铁路:客运发送量:长途车,601898_中煤能源:商品煤产量,601898_全国煤炭铁路日均装车:中煤集团:实际
0,2,1,XSHE,2010-04-29,2010-03-31,2009-03-31,3,Q1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,XSHE,2010-08-25,2010-06-30,2009-06-30,6,S1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1,XSHE,2010-10-28,2010-09-30,2009-09-30,9,Q3,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,1,XSHE,2011-02-25,2010-12-31,2009-12-31,12,A,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,1,XSHE,2011-04-27,2011-03-31,2010-03-31,3,Q1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,1,XSHE,2011-08-18,2011-06-30,2010-06-30,6,S1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,1,XSHE,2011-10-26,2011-09-30,2010-09-30,9,Q3,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2,1,XSHE,2012-03-09,2011-12-31,2010-12-31,12,A,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2,1,XSHE,2012-04-26,2012-03-31,2011-03-31,3,Q1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2,1,XSHE,2012-08-16,2012-06-30,2011-06-30,6,S1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2,1,XSHE,2012-10-26,2012-09-30,2011-09-30,9,Q3,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2,1,XSHE,2013-03-08,2012-12-31,2011-12-31,12,A,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2,1,XSHE,2013-04-24,2013-03-31,2012-03-31,3,Q1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2,1,XSHE,2013-08-23,2013-06-30,2012-06-30,6,S1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2,1,XSHE,2013-10-23,2013-09-30,2012-09-30,9,Q3,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2,1,XSHE,2014-03-07,2013-12-31,2012-12-31,12,A,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2,1,XSHE,2014-04-24,2014-03-31,2013-03-31,3,Q1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2,1,XSHE,2014-08-14,2014-06-30,2013-06-30,6,S1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2,1,XSHE,2014-10-24,2014-09-30,2013-09-30,9,Q3,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2,1,XSHE,2015-03-13,2014-12-31,2013-12-31,12,A,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2,1,XSHE,2015-04-24,2015-03-31,2014-03-31,3,Q1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2,1,XSHE,2015-08-14,2015-06-30,2014-06-30,6,S1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2,1,XSHE,2015-10-23,2015-09-30,2014-09-30,9,Q3,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2,1,XSHE,2016-03-10,2015-12-31,2014-12-31,12,A,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2,1,XSHE,2016-04-21,2016-03-31,2015-03-31,3,Q1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2,1,XSHE,2016-08-12,2016-06-30,2015-06-30,6,S1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2,1,XSHE,2016-10-21,2016-09-30,2015-09-30,9,Q3,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2,1,XSHE,2017-03-17,2016-12-31,2015-12-31,12,A,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2,1,XSHE,2017-04-22,2017-03-31,2016-03-31,3,Q1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2,1,XSHE,2017-08-11,2017-06-30,2016-06-30,6,S1,1,Bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92413,1433,900957,XSHG,2012-04-25,2011-12-31,2010-12-31,12,A,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92414,1433,900957,XSHG,2012-04-28,2012-03-31,2011-03-31,3,Q1,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92415,1433,900957,XSHG,2012-08-03,2012-06-30,2011-06-30,6,S1,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92416,1433,900957,XSHG,2012-10-24,2012-09-30,2011-09-30,9,Q3,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92417,1433,900957,XSHG,2013-03-19,2012-12-31,2011-12-31,12,A,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92418,1433,900957,XSHG,2013-04-24,2013-03-31,2012-03-31,3,Q1,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92419,1433,900957,XSHG,2013-08-16,2013-06-30,2012-06-30,6,S1,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92420,1433,900957,XSHG,2013-10-22,2013-09-30,2012-09-30,9,Q3,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92421,1433,900957,XSHG,2014-03-19,2013-12-31,2012-12-31,12,A,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92422,1433,900957,XSHG,2014-04-23,2014-03-31,2013-03-31,3,Q1,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92423,1433,900957,XSHG,2014-08-15,2014-06-30,2013-06-30,6,S1,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92424,1433,900957,XSHG,2014-10-21,2014-09-30,2013-09-30,9,Q3,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92425,1433,900957,XSHG,2015-04-10,2014-12-31,2013-12-31,12,A,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92426,1433,900957,XSHG,2015-04-25,2015-03-31,2014-03-31,3,Q1,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92427,1433,900957,XSHG,2015-08-15,2015-06-30,2014-06-30,6,S1,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92428,1433,900957,XSHG,2015-10-29,2015-09-30,2014-09-30,9,Q3,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92429,1433,900957,XSHG,2016-03-30,2015-12-31,2014-12-31,12,A,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92430,1433,900957,XSHG,2016-04-23,2016-03-31,2015-03-31,3,Q1,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92431,1433,900957,XSHG,2016-08-06,2016-06-30,2015-06-30,6,S1,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92432,1433,900957,XSHG,2016-10-27,2016-09-30,2015-09-30,9,Q3,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92433,1433,900957,XSHG,2017-03-25,2016-12-31,2015-12-31,12,A,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92434,1433,900957,XSHG,2017-04-26,2017-03-31,2016-03-31,3,Q1,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92435,1433,900957,XSHG,2017-08-10,2017-06-30,2016-06-30,6,S1,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92436,1433,900957,XSHG,2017-10-27,2017-09-30,2016-09-30,9,Q3,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92437,1433,900957,XSHG,2018-04-10,2017-12-31,2016-12-31,12,A,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92438,1433,900957,XSHG,2018-04-26,2018-03-31,2017-03-31,3,Q1,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92439,1433,900957,XSHG,2017-08-10,2017-06-30,2017-06-30,6,S1,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92440,1433,900957,XSHG,2017-10-27,2017-09-30,2017-09-30,9,Q3,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92441,1433,900957,XSHG,2018-04-10,2017-12-31,2017-12-31,12,A,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92442,1433,900957,XSHG,2018-04-26,2018-03-31,2018-03-31,3,Q1,1,GB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
merge3.to_csv(mid_path+'table_6_file.csv',index=False)

In [ ]:
T_new.industrySymbol_level_1.unique()

In [ ]:
# def compare(df1,df2):
#     '''
#     比较表间ticker异同
    
#     '''
#     print(len(df1.TICKER_SYMBOL.unique()))
#     print(len(df2.TICKER_SYMBOL.unique()))
#     print(set(df1.TICKER_SYMBOL.unique())-set(df2.TICKER_SYMBOL.unique()))
#     print(set(df2.TICKER_SYMBOL.unique())-set(df1.TICKER_SYMBOL.unique()))
    
    
# compare(balance_sheet_Securities_old,income_sheet_Securities_old)

In [ ]:


###-------生成器读取文件-----------------
# def loading_inputs():
#     files= os.listdir(input_path+'/raw_data/')
#     for file in files:
#         print('reading file:%s'%file)
#         feature = pd.read_csv(input_path+'/raw_data/'+file)
#         yield feature
# T=[]
# for item in loading_inputs():
#     T.append(item)


###-------读取文件---------------------
def loading_inputs():
    files= os.listdir(input_path+'/raw_data/')
    DF=[]
    for file in files:
        print('reading file:%s'%file)
        feature = pd.read_csv(input_path+'/raw_data/'+file)
        DF.append(feature)
    
    return DF


def preprocess_common(del_list):
    '''
    输入是要删除的列，输出是删除指定列并去重的df
    
    '''
    print('----------------------------------------------------')
    print('Starting preprocessing....\n')
    print('=======================================================')
    print('loading file...')
    T=loading_inputs()

    ##--------预处理:删列操作-------------------
    print('=======================================================')
    print('del some cols...')
    for i in range(12):
        print('del col of df')
        try:
            T[i]=T[i].drop(del_list[i][0].split(','),axis=1)
        except Exception as err:
            print(err)

    ##-----------单表去重操作----------------------------

    print('single sheet drop_duplicates...')

    for i in range(12):
        T[i]=utils.date_time_index(T[i]).drop_duplicates(subset=['TICKER_SYMBOL','END_DATE'], keep='last')

    return T

def preprocess_normal(T):
    '''
    处理正常的ticker,首先对三大表内部各自合四表，最后合三大表
    
    '''
    print('=======================================================')
    print('preprosessing the normal ticker...')
    [balance_sheet_Bank_old,balance_sheet_GB_old,balance_sheet_Insurance_old,balance_sheet_Securities_old,\
    cashFlow_sheet_Bank_old,cashFlow_sheet_GB_old,cashFlow_sheet_Insurance_old,cashFlow_sheet_Securities_old,\
    income_sheet_Bank_old,income_sheet_GB_old,income_sheet_Insurance_old,income_sheet_Securities_old]=T
    del T
    gc.collect()

    ###----------------预处理：添加类别列，找公共columns-----------------------
    ##添加类别列

    balance_sheet_Bank_old['category']='Bank'
    cashFlow_sheet_Bank_old['category']='Bank'
    income_sheet_Bank_old['category']='Bank'

    balance_sheet_Securities_old['category']='Securities'
    cashFlow_sheet_Securities_old['category']='Securities'
    income_sheet_Securities_old['category']='Securities'

    balance_sheet_Insurance_old['category']='Insurance'
    cashFlow_sheet_Insurance_old['category']='Insurance'
    income_sheet_Insurance_old['category']='Insurance'

    balance_sheet_GB_old['category']='GB'
    cashFlow_sheet_GB_old['category']='GB'
    income_sheet_GB_old['category']='GB'


    ##查找columns公共部分
        #资产负债
    A1=balance_sheet_Bank_old.columns
    B1=balance_sheet_Securities_old.columns
    C1=balance_sheet_Insurance_old.columns
    D1=balance_sheet_GB_old.columns
        #现金流量
    A2=cashFlow_sheet_Bank_old.columns
    B2=cashFlow_sheet_Securities_old.columns
    C2=cashFlow_sheet_Insurance_old.columns
    D2=cashFlow_sheet_GB_old.columns
        #利润表
    A3=income_sheet_Bank_old.columns
    B3=income_sheet_Securities_old.columns
    C3=income_sheet_Insurance_old.columns
    D3=income_sheet_GB_old.columns


    #确定最终放在表首的几列
    common=['INDEX','END_DATE', 'END_DATE_REP','EXCHANGE_CD','FISCAL_PERIOD','MERGED_FLAG','PARTY_ID',\
     'PUBLISH_DATE','REPORT_TYPE','TICKER_SYMBOL','category']



    ##分别对三表，找出每个表中四个类别公共部分

    commom_balance=set(C1)&set(D1)&set(A1)&set(B1)#-set(common)
    commom_cash=set(C2)&set(D2)&set(A2)&set(B2)#-set(common)
    commom_income=set(C3)&set(D3)&set(A3)&set(B3)#-set(common)

    commom_balance=list(commom_balance)
    commom_cash=list(commom_cash)
    commom_income=list(commom_income)

    ##列出几个特殊ticker,暂时去掉

    del_ticker=[563, 627, 712, 750, 776, 987, 2673, 600291, 600816]

    T1=[balance_sheet_Bank_old,balance_sheet_GB_old,balance_sheet_Insurance_old,balance_sheet_Securities_old,\
     cashFlow_sheet_Bank_old,cashFlow_sheet_GB_old,cashFlow_sheet_Insurance_old,cashFlow_sheet_Securities_old,\
    income_sheet_Bank_old,income_sheet_GB_old,income_sheet_Insurance_old,income_sheet_Securities_old]

    for i in range(12):
        #选出不在列表中出现的ticker的数据
        IN=np.logical_not(T1[i].TICKER_SYMBOL.isin(del_ticker))
        T1[i]=T1[i][IN]

    [balance_sheet_Bank_old,balance_sheet_GB_old,balance_sheet_Insurance_old,balance_sheet_Securities_old,\
     cashFlow_sheet_Bank_old,cashFlow_sheet_GB_old,cashFlow_sheet_Insurance_old,cashFlow_sheet_Securities_old,\
    income_sheet_Bank_old,income_sheet_GB_old,income_sheet_Insurance_old,income_sheet_Securities_old]=T1
    del T1
    gc.collect()    


    ##--------------------资产负债表合表------------------------------

    print('merging Balance sheet.....\n')

    #提取公共部分并concat

    concat_list_balance=[balance_sheet_Bank_old[commom_balance],balance_sheet_Securities_old[commom_balance],\
            balance_sheet_Insurance_old[commom_balance],balance_sheet_GB_old[commom_balance]]

    df_balance_common=pd.concat(concat_list_balance)

    #将公共部分统一加后缀
    old_common_column_balance=list(set(commom_balance)-set(common))
    new_common_column_balance=[x+'_commom_balance' for x in old_common_column_balance]

    df_balance_common.rename(columns=dict(zip(old_common_column_balance,new_common_column_balance)),inplace=True)
    df_balance_common


    ##依次提取并merge四表剩余部分

    balance_df=[balance_sheet_Bank_old,balance_sheet_Securities_old,balance_sheet_Insurance_old,balance_sheet_GB_old]
    name=['_balance_Bank','_balance_Securities','_balance_Insurance','_balance_GB']
    balance_list=[]

    for a,b in zip(balance_df,name):    
        balance_bank_columns=list(set(a.columns)-set(commom_balance))
        balance_bank_columns.extend(common)
        t=set(balance_bank_columns)-set(common)
        balance_bank_columns_new=[x+ b for x in t]
        balance_sheet_Bank_old_rest=a[balance_bank_columns]
        balance_sheet_Bank_old_rest.rename(columns=dict(zip(t,balance_bank_columns_new)),inplace=True)

        balance_list.append(balance_sheet_Bank_old_rest)
    '''
     merge有一个大bug,左连接时，merge(a,b),如果a和b都有中有多行相同，如a中有 ee行 = ff行  ，而b中也有  cc行= dd 行  ，
     且 ee=cc=ff=dd就会出现最终merge结果条数>a；或者说b中有两条与a中某条对应，亦是如此.
  
    '''   

    merge1=pd.merge(df_balance_common,balance_list[0],how='left',on=common)
    merge2=pd.merge(merge1,balance_list[1],how='left',on=common)
    merge3=pd.merge(merge2,balance_list[2],how='left',on=common)
    merge_balance=pd.merge(merge3,balance_list[3],how='left',on=common)

    merge_balance

    ##--------------------现金流量表合表------------------------------
    print('merging CashFlow sheet.....\n')

    #提取公共部分并concat

    concat_list_cashFlow=[cashFlow_sheet_Bank_old[commom_cash],cashFlow_sheet_Securities_old[commom_cash],\
    cashFlow_sheet_Insurance_old[commom_cash],cashFlow_sheet_GB_old[commom_cash]]
    df_cashFlow_common=pd.concat(concat_list_cashFlow)

    df_cashFlow_common

    #将公共部分统一加后缀
    old_common_column_cash=list(set(commom_cash)-set(common))
    new_common_column_cash=[x+'_commom_cash' for x in old_common_column_cash]
    df_cashFlow_common.rename(columns=dict(zip(old_common_column_cash,new_common_column_cash)),inplace=True)

    df_cashFlow_common


    ##依次提取并merge四表剩余部分

    cash_df=[cashFlow_sheet_Bank_old,cashFlow_sheet_Securities_old,cashFlow_sheet_Insurance_old,cashFlow_sheet_GB_old]
    name=['_cashFlow_Bank','_cashFlow_Securities','_cashFlow_Insurance','_cashFlow_GB']
    cash_list=[]

    for a,b in zip(cash_df,name):    
        cash_bank_columns=list(set(a.columns)-set(commom_cash))
        cash_bank_columns.extend(common)
        t=set(cash_bank_columns)-set(common)
        cash_bank_columns_new=[x+ b for x in t]
        cash_sheet_Bank_old_rest=a[cash_bank_columns]
        cash_sheet_Bank_old_rest.rename(columns=dict(zip(t,cash_bank_columns_new)),inplace=True)

        cash_list.append(cash_sheet_Bank_old_rest)


    merge1=pd.merge(df_cashFlow_common,cash_list[0],how='left',on=common)
    merge2=pd.merge(merge1,cash_list[1],how='left',on=common)
    merge3=pd.merge(merge2,cash_list[2],how='left',on=common)
    merge_cash=pd.merge(merge3,cash_list[3],how='left',on=common)
    merge_cash

    ##--------------------利润表合表------------------------------
    print('merging Income sheet.....\n')

    #提取公共部分并concat

    concat_list_income=[income_sheet_Bank_old[commom_income],income_sheet_Securities_old[commom_income],\
    income_sheet_Insurance_old[commom_income],income_sheet_GB_old[commom_income]]
    df_income_common=pd.concat(concat_list_income)

    df_income_common

    #将公共部分统一加后缀
    old_common_column_income=list(set(commom_income)-set(common))
    new_common_column_income=[x+'_commom_income' for x in old_common_column_income]
    df_income_common.rename(columns=dict(zip(old_common_column_income,new_common_column_income)),inplace=True)

    df_income_common


    ##依次提取并merge四表剩余部分

    income_df=[income_sheet_Bank_old,income_sheet_Securities_old,income_sheet_Insurance_old,income_sheet_GB_old]
    name=['_income_Bank','_income_Securities','_income_Insurance','_income_GB']
    income_list=[]

    for a,b in zip(income_df,name):    
        income_bank_columns=list(set(a.columns)-set(commom_income))
        income_bank_columns.extend(common)
        t=set(income_bank_columns)-set(common)
        income_bank_columns_new=[x+ b for x in t]
        income_sheet_Bank_old_rest=a[income_bank_columns]
        income_sheet_Bank_old_rest.rename(columns=dict(zip(t,income_bank_columns_new)),inplace=True)

        income_list.append(income_sheet_Bank_old_rest)

    merge1=pd.merge(df_income_common,income_list[0],how='left',on=common)
    merge2=pd.merge(merge1,income_list[1],how='left',on=common)
    merge3=pd.merge(merge2,income_list[2],how='left',on=common)
    merge_income=pd.merge(merge3,income_list[3],how='left',on=common)
    merge_income


    ##----------------合三表-------------------------

    print('merging final sheet.....\n')
    merge_balance=merge_balance.drop(['INDEX'],axis=1)
    merge_cash=merge_cash.drop(['INDEX'],axis=1)
    merge_income=merge_income.drop(['INDEX'],axis=1)
    merge_income

    M1=pd.merge(merge_balance,merge_cash,how='outer',on=['END_DATE','EXCHANGE_CD','FISCAL_PERIOD','MERGED_FLAG','PARTY_ID',\
                                         'REPORT_TYPE','TICKER_SYMBOL','category'])##index,publist_date h和 enddate_rep应该删掉！
    M2=pd.merge(M1,merge_income,how='outer',on=['END_DATE','EXCHANGE_CD','FISCAL_PERIOD','MERGED_FLAG','PARTY_ID',\
                                         'REPORT_TYPE','TICKER_SYMBOL','category'])
    
    
    print('preprosessing the normal ticker done!!!...\n')
    print('=======================================================')
    return M2

def preprocess_special(T):
    
    '''
    处理有冲突的ticker,首先对三大表内部各自合四表，最后合三大表
    
    '''
    print('preprosessing the special ticker...')
    [balance_sheet_Bank_old,balance_sheet_GB_old,balance_sheet_Insurance_old,balance_sheet_Securities_old,\
     cashFlow_sheet_Bank_old,cashFlow_sheet_GB_old,cashFlow_sheet_Insurance_old,cashFlow_sheet_Securities_old,\
    income_sheet_Bank_old,income_sheet_GB_old,income_sheet_Insurance_old,income_sheet_Securities_old]=T
    del T
    gc.collect()

    ###----------------预处理：添加类别列，找公共columns-----------------------
    ##添加类别列

    balance_sheet_Bank_old['category']='SSR'
    cashFlow_sheet_Bank_old['category']='SSR'
    income_sheet_Bank_old['category']='SSR'

    balance_sheet_Securities_old['category']='SSR'
    cashFlow_sheet_Securities_old['category']='SSR'
    income_sheet_Securities_old['category']='SSR'

    balance_sheet_Insurance_old['category']='SSR'
    cashFlow_sheet_Insurance_old['category']='SSR'
    income_sheet_Insurance_old['category']='SSR'

    balance_sheet_GB_old['category']='SSR'
    cashFlow_sheet_GB_old['category']='SSR'
    income_sheet_GB_old['category']='SSR'



    ##查找columns公共部分
        #资产负债
    A1=balance_sheet_Bank_old.columns
    B1=balance_sheet_Securities_old.columns
    C1=balance_sheet_Insurance_old.columns
    D1=balance_sheet_GB_old.columns
        #现金流量
    A2=cashFlow_sheet_Bank_old.columns
    B2=cashFlow_sheet_Securities_old.columns
    C2=cashFlow_sheet_Insurance_old.columns
    D2=cashFlow_sheet_GB_old.columns
        #利润表
    A3=income_sheet_Bank_old.columns
    B3=income_sheet_Securities_old.columns
    C3=income_sheet_Insurance_old.columns
    D3=income_sheet_GB_old.columns


    #确定最终放在表首的几列
    common=['INDEX','END_DATE', 'END_DATE_REP','EXCHANGE_CD','FISCAL_PERIOD','MERGED_FLAG','PARTY_ID',\
     'PUBLISH_DATE','REPORT_TYPE','TICKER_SYMBOL','category']


    ##分别对三表，找出每个表中四个类别公共部分

    commom_balance=set(C1)&set(D1)&set(A1)&set(B1)#-set(common)
    commom_cash=set(C2)&set(D2)&set(A2)&set(B2)#-set(common)
    commom_income=set(C3)&set(D3)&set(A3)&set(B3)#-set(common)

    commom_balance=list(commom_balance)
    commom_cash=list(commom_cash)
    commom_income=list(commom_income)



    ##选出ticker条目
    del_ticker=[563, 627, 712, 750, 776, 987, 2673, 600291, 600816]

    T1=[balance_sheet_Bank_old,balance_sheet_GB_old,balance_sheet_Insurance_old,balance_sheet_Securities_old,\
     cashFlow_sheet_Bank_old,cashFlow_sheet_GB_old,cashFlow_sheet_Insurance_old,cashFlow_sheet_Securities_old,\
    income_sheet_Bank_old,income_sheet_GB_old,income_sheet_Insurance_old,income_sheet_Securities_old]

    for i in range(12):
        T1[i]=T1[i][T1[i].TICKER_SYMBOL.isin(del_ticker)]

    [balance_sheet_Bank_old,balance_sheet_GB_old,balance_sheet_Insurance_old,balance_sheet_Securities_old,\
     cashFlow_sheet_Bank_old,cashFlow_sheet_GB_old,cashFlow_sheet_Insurance_old,cashFlow_sheet_Securities_old,\
    income_sheet_Bank_old,income_sheet_GB_old,income_sheet_Insurance_old,income_sheet_Securities_old]=T1

    del T1
    gc.collect()


    ##--------------------资产负债表合表------------------------------

    print('merging Balance sheet.....\n')


    #提取公共部分并concat


    concat_list_balance=[balance_sheet_Bank_old[commom_balance],balance_sheet_Securities_old[commom_balance],\
            balance_sheet_Insurance_old[commom_balance],balance_sheet_GB_old[commom_balance]]

    df_balance_common=pd.concat(concat_list_balance)

    #将公共部分统一加后缀
    old_common_column_balance=list(set(commom_balance)-set(common))
    new_common_column_balance=[x+'_commom_balance' for x in old_common_column_balance]

    df_balance_common.rename(columns=dict(zip(old_common_column_balance,new_common_column_balance)),inplace=True)
    df_balance_common



    ##依次提取并merge四表剩余部分

    balance_df=[balance_sheet_Bank_old,balance_sheet_Securities_old,balance_sheet_Insurance_old,balance_sheet_GB_old]
    name=['_balance_Bank','_balance_Securities','_balance_Insurance','_balance_GB']
    balance_list=[]

    for a,b in zip(balance_df,name):    
        balance_bank_columns=list(set(a.columns)-set(commom_balance))
        balance_bank_columns.extend(common)
        t=set(balance_bank_columns)-set(common)
        balance_bank_columns_new=[x+ b for x in t]
        balance_sheet_Bank_old_rest=a[balance_bank_columns]
        balance_sheet_Bank_old_rest.rename(columns=dict(zip(t,balance_bank_columns_new)),inplace=True)

        balance_list.append(balance_sheet_Bank_old_rest)

    ##再次去重    
    df_balance_common=df_balance_common.sort_values(by=['TICKER_SYMBOL','END_DATE','PUBLISH_DATE','END_DATE_REP'])
    df_balance_common.drop_duplicates(subset=['TICKER_SYMBOL','END_DATE'],keep='last',inplace=True)                                                    


    merge1=pd.merge(df_balance_common,balance_list[0],how='left',on=common)
    merge2=pd.merge(merge1,balance_list[1],how='left',on=common)
    merge3=pd.merge(merge2,balance_list[2],how='left',on=common)
    merge_balance=pd.merge(merge3,balance_list[3],how='left',on=common)

    merge_balance


#     ##-------------检查concat后是否重复-------------------------

#     t=df_balance_common.groupby(['TICKER_SYMBOL','END_DATE']).size()
#     t=t[t!=1].reset_index()#.to_csv(file_path+'Balance_conflict.csv',index=False)


#     def check_ssr(df):
#     '''
#     找出concat后，重复ticker-enddate，的条目数据，公共部分columns是否一致
#     '''
#         t=df.groupby(['TICKER_SYMBOL','END_DATE']).size()
#         t=t[t!=1].reset_index()
#         t.END_DATE=t.END_DATE.apply(lambda x:datetime.datetime.strftime(x,'%Y-%m-%d'))
#         for m,n in zip(t.TICKER_SYMBOL,t.END_DATE):
#             a=list(df.columns)
#             a.remove('PUBLISH_DATE')
#             a.remove('END_DATE_REP')
#             a.remove('INDEX')
#             if len(df[(df.TICKER_SYMBOL==m)&(df.END_DATE==n)].drop_duplicates(subset=a))==1:
#                 print(m,n)#to_csv(file_path+'123.csv',index=False)#.drop_duplicates(subset=a)



    ##--------------------现金流量表合表------------------------------
    print('merging CashFlow sheet.....\n')

    #提取公共部分并concat

    concat_list_cashFlow=[cashFlow_sheet_Bank_old[commom_cash],cashFlow_sheet_Securities_old[commom_cash],\
    cashFlow_sheet_Insurance_old[commom_cash],cashFlow_sheet_GB_old[commom_cash]]
    df_cashFlow_common=pd.concat(concat_list_cashFlow)

    df_cashFlow_common

    #将公共部分统一加后缀
    old_common_column_cash=list(set(commom_cash)-set(common))
    new_common_column_cash=[x+'_commom_cash' for x in old_common_column_cash]
    df_cashFlow_common.rename(columns=dict(zip(old_common_column_cash,new_common_column_cash)),inplace=True)

    df_cashFlow_common



    ##依次提取并merge四表剩余部分

    cash_df=[cashFlow_sheet_Bank_old,cashFlow_sheet_Securities_old,cashFlow_sheet_Insurance_old,cashFlow_sheet_GB_old]
    name=['_cashFlow_Bank','_cashFlow_Securities','_cashFlow_Insurance','_cashFlow_GB']
    cash_list=[]

    for a,b in zip(cash_df,name):    
        cash_bank_columns=list(set(a.columns)-set(commom_cash))
        cash_bank_columns.extend(common)
        t=set(cash_bank_columns)-set(common)
        cash_bank_columns_new=[x+ b for x in t]
        cash_sheet_Bank_old_rest=a[cash_bank_columns]
        cash_sheet_Bank_old_rest.rename(columns=dict(zip(t,cash_bank_columns_new)),inplace=True)

        cash_list.append(cash_sheet_Bank_old_rest)

    ##再次去重
    df_cashFlow_common=df_cashFlow_common.sort_values(by=['TICKER_SYMBOL','END_DATE','PUBLISH_DATE','END_DATE_REP'])
    df_cashFlow_common.drop_duplicates(subset=['TICKER_SYMBOL','END_DATE'],keep='last',inplace=True)       

    merge1=pd.merge(df_cashFlow_common,cash_list[0],how='left',on=common)
    merge2=pd.merge(merge1,cash_list[1],how='left',on=common)
    merge3=pd.merge(merge2,cash_list[2],how='left',on=common)
    merge_cash=pd.merge(merge3,cash_list[3],how='left',on=common)
    merge_cash


    ##--------------------利润表合表------------------------------
    print('merging Income sheet.....\n')

    #提取公共部分并concat

    concat_list_income=[income_sheet_Bank_old[commom_income],income_sheet_Securities_old[commom_income],\
    income_sheet_Insurance_old[commom_income],income_sheet_GB_old[commom_income]]
    df_income_common=pd.concat(concat_list_income)

    df_income_common

    #将公共部分统一加后缀
    old_common_column_income=list(set(commom_income)-set(common))
    new_common_column_income=[x+'_commom_income' for x in old_common_column_income]
    df_income_common.rename(columns=dict(zip(old_common_column_income,new_common_column_income)),inplace=True)

    df_income_common


    ##依次提取并merge四表剩余部分

    income_df=[income_sheet_Bank_old,income_sheet_Securities_old,income_sheet_Insurance_old,income_sheet_GB_old]
    name=['_income_Bank','_income_Securities','_income_Insurance','_income_GB']
    income_list=[]

    for a,b in zip(income_df,name):    
        income_bank_columns=list(set(a.columns)-set(commom_income))
        income_bank_columns.extend(common)
        t=set(income_bank_columns)-set(common)
        income_bank_columns_new=[x+ b for x in t]
        income_sheet_Bank_old_rest=a[income_bank_columns]
        income_sheet_Bank_old_rest.rename(columns=dict(zip(t,income_bank_columns_new)),inplace=True)

        income_list.append(income_sheet_Bank_old_rest)


    ##再次去重
    df_income_common=df_income_common.sort_values(by=['TICKER_SYMBOL','END_DATE','PUBLISH_DATE','END_DATE_REP'])
    df_income_common.drop_duplicates(subset=['TICKER_SYMBOL','END_DATE'],keep='last',inplace=True) 


    merge1=pd.merge(df_income_common,income_list[0],how='left',on=common)
    merge2=pd.merge(merge1,income_list[1],how='left',on=common)
    merge3=pd.merge(merge2,income_list[2],how='left',on=common)
    merge_income=pd.merge(merge3,income_list[3],how='left',on=common)
    merge_income




    ##----------------合三表-------------------------

    print('merging final sheet.....\n')
    merge_balance=merge_balance.drop(['INDEX'],axis=1)
    merge_cash=merge_cash.drop(['INDEX'],axis=1)
    merge_income=merge_income.drop(['INDEX'],axis=1)
    merge_income

    M1=pd.merge(merge_balance,merge_cash,how='outer',on=['END_DATE','EXCHANGE_CD','FISCAL_PERIOD','MERGED_FLAG','PARTY_ID',\
                                         'REPORT_TYPE','TICKER_SYMBOL','category'])
    M2=pd.merge(M1,merge_income,how='outer',on=['END_DATE','EXCHANGE_CD','FISCAL_PERIOD','MERGED_FLAG','PARTY_ID',\
                                         'REPORT_TYPE','TICKER_SYMBOL','category'])
    M2
    
    print('preprosessing the special ticker done!!!...')
    print('=======================================================')
    
    
    return M2



def preprocess(del_list):
    '''
    生成财务合并表：merge_file.csv
    '''
    base_file=preprocess_common(del_list)
    file_normal=preprocess_normal(base_file)
    file_special=preprocess_special(base_file)
    
    merge_file=pd.concat([file_normal,file_special])
    
    common=['PARTY_ID','TICKER_SYMBOL', 'EXCHANGE_CD','PUBLISH_DATE','END_DATE_REP','END_DATE','FISCAL_PERIOD',\
        'REPORT_TYPE', 'MERGED_FLAG', 'category']
    
    merge_file=merge_file[common+list(set(merge_file.columns)-set(common))]
    
    
    print('the shape of normal ticker file:',file_normal.shape)
    print('the shape of special ticker file:',file_special.shape)
    print('the shape of merge file:',merge_file.shape)
    
    merge_file.to_csv(mid_path+'merge_file.csv',index=False)
    

    
    return merge_file
    
# ##再次check merge_balance,merge_cash，merge_income，M2
# ###是否有'TICKER_SYMBOL'-'END_DATE'重复项
# '''
# 也就是比较drop前后长度是否相等，若相等，则正确
# '''
# def check_dup(DF):
#     print(DF.shape)
#     print(DF.drop_duplicates(subset=['TICKER_SYMBOL','END_DATE'], keep='last').shape)

# check_dup(M2)
T=preprocess(del_list)

In [ ]:
common=['PARTY_ID','TICKER_SYMBOL', 'EXCHANGE_CD','PUBLISH_DATE','END_DATE_REP','END_DATE','FISCAL_PERIOD',\
        'REPORT_TYPE', 'MERGED_FLAG', 'category']


T[common+list(set(T.columns)-set(common))]

In [ ]:
M2[M2.TICKER_SYMBOL==30][['TICKER_SYMBOL','END_DATE','REVENUE_commom_income']].sort_values(by=['END_DATE'])

In [ ]:
#t=M2.columns.str.contains('REVENUE')
#M2.columns[t]
submit=pd.read_csv(file_path+'sumbit_v1.csv')
base=submit[['TICKER_SYMBOL']]
base

time_range=['2009-03-31', '2009-06-30', '2009-09-30', '2009-12-31',
       '2010-03-31', '2010-06-30', '2010-09-30', '2010-12-31',
       '2011-03-31', '2011-06-30', '2011-09-30', '2011-12-31',
       '2012-03-31', '2012-06-30', '2012-09-30', '2012-12-31',
       '2013-03-31', '2013-06-30', '2013-09-30', '2013-12-31',
       '2014-03-31', '2014-06-30', '2014-09-30', '2014-12-31',
       '2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31',
       '2016-03-31', '2016-06-30', '2016-09-30', '2016-12-31',
       '2017-03-31', '2017-06-30', '2017-09-30', '2017-12-31',
       '2018-03-31']

for month in time_range:
    
    REVENUE_df=M2[['END_DATE','TICKER_SYMBOL','REVENUE_commom_income']]
    t=REVENUE_df[REVENUE_df.END_DATE==month].sort_values(by=['END_DATE']).dropna()
    t.rename(columns={'REVENUE_commom_income':month},inplace=True)
    base=pd.merge(base,t[['TICKER_SYMBOL',month]],how='left',on=['TICKER_SYMBOL'])
    
base.to_csv(file_path+'ticker_REVENUE_update.csv',index=False)
# q=REVENUE_df[REVENUE_df.TICKER_SYMBOL==1].sort_values(by=['END_DATE']).dropna()
# q['END_DATE']=q['END_DATE'].apply(lambda x:datetime.datetime.strftime(x,'%Y-%m-%d'))
# q['END_DATE'].values

In [ ]:

    ##1.market data 检查value 和申万知否一致
    
#market_data=pd.read_excel(raw_data_path+'[New] Market Data_20180613.xlsx')
#market_data.TICKER_SYMBOL.unique().shape#(3675,)
# test_180330=market_data[market_data['END_DATE_']=='2018-03-30'][['TICKER_SYMBOL','MARKET_VALUE']]
# check_180830=pd.read_csv(file_path+'Uer_market_2018330.csv')
# check_180830=check_180830[['ticker','negMarketValue','marketValue']].rename(columns={'ticker':'TICKER_SYMBOL'})
# pd.merge(test_180330,check_180830,how='left',on=['TICKER_SYMBOL']).to_csv(file_path+'check_market_values.csv',index=False)
#================================================================
    ##2.从三表中读取12表

# balance_sheet_Bank,balance_sheet_Securities, balance_sheet_Insurance,balance_sheet_GB,\
# cashFlow_sheet_Bank,cashFlow_sheet_Securities,cashFlow_sheet_Insurance,cashFlow_sheet_GB,\
# income_sheet_Bank,income_sheet_Securities,income_sheet_Insurance,income_sheet_GB=utils.loadingFile(0)

#================================================================
    ##3.将12个表写到csv中，方便今后读取

# file_name=['balance_sheet_Bank','balance_sheet_Securities', 'balance_sheet_Insurance','balance_sheet_GB',\
# 'cashFlow_sheet_Bank','cashFlow_sheet_Securities','cashFlow_sheet_Insurance','cashFlow_sheet_GB',\
# 'income_sheet_Bank','income_sheet_Securities','income_sheet_Insurance','income_sheet_GB']

# file_df=[balance_sheet_Bank,balance_sheet_Securities, balance_sheet_Insurance,balance_sheet_GB,\
# cashFlow_sheet_Bank,cashFlow_sheet_Securities,cashFlow_sheet_Insurance,cashFlow_sheet_GB,\
# income_sheet_Bank,income_sheet_Securities,income_sheet_Insurance,income_sheet_GB]

# for df,name in zip(file_df,file_name):
#     df.to_csv(file_path+'files/financial_data_new/%s.csv'%name)
#============================================================================
    ## 4.在csv文件中补全00000

# A=pd.read_csv(file_path+'sumbit_5_31.csv',encoding='gbk')
# A.TICKER_SYMBOL=A.TICKER_SYMBOL.apply(lambda x:'\t%06d'%x)
# A.to_csv(file_path+'523.csv',index=False)

# A=pd.read_csv(file_path+'sumbit_5_31.csv',encoding='gbk')
# A.TICKER_SYMBOL=A.TICKER_SYMBOL.apply(lambda x:'%06d'%x)
# #A.to_csv(file_path+'523.csv',index=False)
# for a in A.TICKER_SYMBOL:
#     print(a)

#==============================================================
    ## 5.补全下载数据的ticker
# file_df=pd.read_csv(file_path+'cashflow_daily_all.csv')
# #file_df=pd.read_hdf(file_path+'CAI.h5',key='data')
# ticker_df=pd.read_csv(file_path+'ticker_list_new.csv')
# file_tickers=file_df.ticker.unique()
# ticker_tickers=ticker_df['0'].values
# dfii_list=[x for x in ticker_tickers if x not in file_tickers]
# DataFrame(dfii_list).to_csv(file_path+'DIFF-个股资金日流向.csv',index=False)

In [ ]:

#===================================================================================    
    ##三表ticker检查
'''
compared with 529data:add 5 more tickers
 array([300747], dtype=int64),
 array([601066], dtype=int64),
 array([603650], dtype=int64),
 array([603666], dtype=int64),
 array([603693], dtype=int64)]

'''


# Balance=[balance_sheet_Bank_old,balance_sheet_Securities_old,balance_sheet_Insurance_old,balance_sheet_GB_old]
# del balance_sheet_Bank_old,balance_sheet_Securities_old,balance_sheet_Insurance_old,balance_sheet_GB_old
# Balance

# Balance_df=pd.concat(Balance)
# Balance_df.TICKER_SYMBOL.unique()#3551

# Cash=[cashFlow_sheet_Bank_old,cashFlow_sheet_Securities_old,cashFlow_sheet_Insurance_old,cashFlow_sheet_GB_old]
# del cashFlow_sheet_Bank_old,cashFlow_sheet_Securities_old,cashFlow_sheet_Insurance_old,cashFlow_sheet_GB_old
# Cash

# Cash_df=pd.concat(Cash)
# Cash_df.TICKER_SYMBOL.unique()#3551

# Income=[income_sheet_Bank_old,income_sheet_Securities_old,income_sheet_Insurance_old,income_sheet_GB_old]
# del income_sheet_Bank_old,income_sheet_Securities_old,income_sheet_Insurance_old,income_sheet_GB_old
# Income

# Income_df=pd.concat(Income)
# Income_df.TICKER_SYMBOL.unique()#3551



# print('the shape of Balance_df is',Balance_df.TICKER_SYMBOL.unique().shape)#(3556,)
# print('the shape of Cash_df is',Cash_df.TICKER_SYMBOL.unique().shape)#(3556,)
# print('the shape of Income_df is',Income_df.TICKER_SYMBOL.unique().shape)#()(3556,)


# tiker_list=pd.read_csv(file_path+'ticker_list.csv')
# tiker_list['0'].unique()


# #比较三大表中ticker是否相同
# A1=set(Balance_df.TICKER_SYMBOL.unique())
# A2=set(Cash_df.TICKER_SYMBOL.unique())
# A3=set(Income_df.TICKER_SYMBOL.unique())

# print('A1==A2',A1==A2)
# print('A1==A3',A1==A3)
# print('A2==A3',A2==A3)

#DataFrame(sorted(Balance_df.TICKER_SYMBOL.unique())).to_csv(file_path+'ticker_list_new_613.csv',index=False)

#===============================================================   
    ##检查529和613文件中ticker异同
# ticker_529=pd.read_csv(file_path+'ticker_list_new.csv')
# ticker_613=pd.read_csv(file_path+'ticker_list_new_613.csv')
# [x for x in ticker_613.values if x not in ticker_529.values]

In [ ]:
DataFrame(Income_df.TICKER_SYMBOL.unique()).to_csv(file_path+'ticker_new.csv',index=False)